@CHARSET "UTF-8";

html,body {
	height: 100%;
}

body { /* background-color: #FCFCFC; */
	background-color: #FFF;
	color: #333333;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.3;
}

div#wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px 0px -101px 0px;
}

div#container {
	width: 960px;
	margin: 0 auto;
	padding: 0px 0px 121px 0px;
}

/* HEADER  */
div#header {
	height: 40px;
	background-color: #2B6DAE;
	background: -moz-linear-gradient(top, #4A8CCD, #2062A3) repeat scroll 0 0 #2B6DAE;
	background: -ms-linear-gradient(top, #4A8CCD, #2062A3) repeat scroll 0 0 #2B6DAE;
	background: -webkit-linear-gradient(top, #4A8CCD, #2062A3) repeat scroll 0 0 #2B6DAE;
	background: -o-linear-gradient(top, #333, #222) repeat scroll 0 0 #2B6DAE;
	background: linear-gradient(top, #333, #222) repeat scroll 0 0 #2B6DAE;
	box-shadow: 0 1px 2px #777777;
	-moz-box-shadow: 0 2px 4px #AAAAAA;
	-webkit-box-shadow: 0 2px 4px #AAAAAA;
	margin-bottom: 10px;
}

div#header_inner_wrapper,div#footer_inner_wrapper {
	width: 960px;
	margin: 0 auto;
}

div#header a {
	color: #FFFFFF;
}

div#logo {
	float: left;
	margin: 6px 0 0 0;
	font-weight: bold;
	text-decoration: none;
}

div#logo a {
	font-size: 20px;
	text-shadow: 0 -1px 1px #333333;
	font-weight: bold;
	text-decoration: none;
	transition: text-shadow 0.5s;
	-moz-transition: text-shadow 0.5s; /* Firefox 4 */
	-webkit-transition: text-shadow 0.5s; /* Safari and Chrome */
	-o-transition: text-shadow 0.5s; /* Opera */
}

div#logo a:HOVER {
	text-shadow: 0 -1px 1px #AAAAAA, 0 0 20px #FFFFFF;
}

div#header_menu {
	float: right;
}

.nav {
	display: block;
	position: relative;
}

.dropdown {
	position: relative;
}

.nav li {
	display: block;
	float: left;
}

.nav li a {
	display: block;
	padding: 11px 10px 15px 10px;
	font-size: 12px;
	text-decoration: none;
	text-shadow: 0 -1px 1px #333333;
	cursor: pointer;
	transition: text-shadow 1s;
	-moz-transition: text-shadow 1s; /* Firefox 4 */
	-webkit-transition: text-shadow 1s; /* Safari and Chrome */
	-o-transition: text-shadow 1s; /* Opera */
}

.nav li a.bold {
	padding: 11px 10px 14px 10px;
	font-weight: bold;
}

.nav li a:HOVER { /* background-color: #2B6DAE; */
	text-shadow: 0 0 10px #FFFFFF;
}

.caret {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #FFFFFF;
	margin-top: 7px;
	content: "↓";
	display: inline-block;
	height: 0;
	vertical-align: top;
	width: 0;
}

div#account_dropdown,div#locale_dropdown {
	padding: 5px 0 5px 0;
	position: absolute;
	top: 40px;
	border: 1px solid #BBBBBB;
	background-color: #FFFFFF;
	min-width: 120px;
	z-index: 100;
	right: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	display: none;
}

div#account_dropdown a,div#locale_dropdown a {
	font-size: 0.9em;
	display: block;
	padding: 2px 8px 2px 8px;
	font-weight: normal;
	text-shadow: none;
	line-height: 1.5;
	color: #4183C4;
}

div#account_dropdown a:HOVER,div#locale_dropdown a:HOVER {
	color: #FFFFFF;
	background-color: #2B6DAE;
}

/* ------------------------------------   FOOTER   ------------------------------------- */
div#footer {
	background: url("../img/cvut_logo_mono.png") no-repeat scroll center 35px #F1F1F1;
	border-top: 1px solid #DDDDDD;
	height: 100px;
	width: 100%;
	min-width: 960px;
}

div#footer_inner_wrapper {
	text-align: center;
	padding: 20px;
	font-size: 0.85em;
}

div#footer_inner_wrapper #upper,div#footer_inner_wrapper #bottom {
	padding-bottom: 15px;
}

div#footer a {
	padding: 10px;
	color: #555555;
}

/* ------------------------- NAV MENU -------------------------------*/
a {
	text-decoration: none;
	color: #4183C4;
}

a:HOVER {
	text-decoration: underline;
	color: #4183C4;
}

div.nav_menu {
	padding: 0 0 10px 0;
	border-bottom: 1px solid #DDDDDD;
	margin: 10px 0 10px 0;
	height: 21px;
}

div.nav_menu ul {
	font-size: 13px;
	font-weight: bold;
}

div.nav_menu ul li {
	display: inline;
	padding: 0;
}

div.nav_menu ul li a {
	padding: 5px 4px 7px 4px;
	margin: 0px 5px;
	float: left;
	color: #999999;
	text-shadow: 0 1px 0 #FFFFFF;
	border-bottom: 3px solid transparent;
	border-right: 6px outset transparent;
	transition: all 0.5s;
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari and Chrome */
	-o-transition: all 0.5s; /* Opera */
}

div.nav_menu ul li a:HOVER {
	text-decoration: none;
	color: #444444;
	border-bottom: 3px solid #2B6DAE;
}

div.nav_menu ul li a.active {
	color: #444444;
	border-bottom: 3px solid #2B6DAE;
}

div#content {
	clear: both;
	margin: 10px;
}

/* ----------------------------------   ACCOUNT MANAGEMENT   -------------------------------------*/
div#account_container {
	padding: 10px;
	margin: 0px auto;
	margin-top: 20px;
}

div#account_container .left_menu {
	margin: 40px -3px 0 0;
	width: 160px;
	display: inline-block;
	position: relative;
	line-height: 1.5;
	vertical-align: top;
}

div#account_container .left_menu li {
	border-radius: 3px 3px 3px 3px;
}

div#account_container .left_menu li a {
	margin-right: -1px;
	display: block;
	color: #333333;
	cursor: pointer;
	padding: 5px 0 5px 15px;
	text-decoration: none;
}

div#account_container .left_menu li a:HOVER {
	background-color: #F1F1F1;
}

div#account_container .left_menu li a:ACTIVE {
	color: #FFFFFF;
	background-color: #2B6DAE;
}

div#account_container .left_menu span.active_menu li a {
	color: #FFFFFF;
	background-color: #2B6DAE;
}

div#account_container .panel {
	display: inline-block;
	padding: 20px;
	border: 1px solid #DDDDDD;
	background: #F1F1F1;
	min-height: 200px;
	width: 680px;
	border-radius: 4px 4px 4px 4px;
	line-height: 1.4;
}

div#account_container div#info {
	background: url("../img/info_symbol.png") no-repeat scroll 95% 100% #F1F1F1;
}

div#account_container div#user {
	background: url("../img/user_symbol.png") no-repeat scroll 95% 100% #F1F1F1;
}

div#account_container div#changepass {
	background: url("../img/key_symbol.png") no-repeat scroll 95% 100% #F1F1F1;
}

div#account_container div#loginslist {
	background: url("../img/login_symbol.png") no-repeat scroll 95% 100% #F1F1F1;
}

div#account_container div#delete {
	background: url("../img/bin_symbol.png") no-repeat scroll 95% 100% #F1F1F1;
}

.panel_header {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.panel_header h2 {
	font: 30px "Jura", Arial, sans-serif;
}

fieldset {
	font-weight: bold;
	border-top: 1px solid #DDDDDD;
	padding: 10px 0px 10px 40px;
}

legend {
	padding: 0px 10px;
	margin: 0 0 0 -25px;
	font: 15px "Jura";
}

input[type=text],input[type=password],select {
	border: 1px solid #BBBBBB;
	border-radius: 1px 1px 1px 1px;
	color: #555555;
	display: inline-block;
	font-size: 13px;
	height: 15px;
	line-height: 15px;
	margin-bottom: 9px;
	padding: 4px;
	width: 210px;
}

textarea {
	border: 1px solid #BBBBBB;
	border-radius: 1px 1px 1px 1px;
	display: inline-block;
	color: #555555;
}

input[type=text]:focus,input[type=password]:focus,textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0 none;
}

input[type=submit],input[type=reset] {
	background-color: #FAFAFA;
	background-image: linear-gradient(to bottom, #FCFCFC, #D5D5D5);
	background-repeat: repeat-x;
	border: 1px solid #CCCCCC;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
	font-size: 13px;
	color: #444444;
	padding: 4px 10px;
}

input[type=submit]:HOVER,input[type=reset]:HOVER {
	border: 1px solid #AAAAAA;
}

input[type=submit]:ACTIVE,input[type=reset]:ACTIVE {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;
}

input.submit_btn {
	background-color: #2B6DAE;
	background-image: linear-gradient(#5A9CDD, #2062A3);
	background-repeat: repeat-x;
	border: 1px solid #51A0B3;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	padding: 4px 10px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
}

input.submit_btn:HOVER {
	background-color: #328FC9;
	background-image: linear-gradient(#66C7E5, #328FC9);
	background-repeat: repeat-x;
}

input.submit_btn:ACTIVE {
	background-color: #2B6DAE;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;
}

.form_button {
	border-top: 1px solid #DDDDDD;
	padding: 10px 0 0 30px;
}

.form_errors {
	color: red;
	font-style: italic;
	font-size: 0.85em;
	font-style: italic;
}

.register_container {
	margin: 40px 0px 20px 0px;
	padding: 20px 0px;
	text-align: center;
	border-top: 1px solid #DDDDDD;
}

#signup_btn {
	background-color: #4C8B36;
	background-image: linear-gradient(#69D344, #4C8B36);
	background-repeat: repeat-x;
	border: 1px solid #74BB5A #74BB5A #509338;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	color: #FFFFFF;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	padding: 15px 30px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
}

#signup_btn:HOVER {
	background-color: #60B044;
	background-image: linear-gradient(#8ADD6D, #60B044);
	background-repeat: repeat-x;
	border-color: #4A993E;
	text-decoration: none;
}

#signup_btn:ACTIVE {
	background-color: #4C8B36;
	background-image: linear-gradient(#69D344, #4C8B36);
	background-repeat: repeat-x;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#import_container {
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #DDDDDD;
	position: relative;
	background: url("../img/upload.png") no-repeat scroll 95% 100% #F1F1F1;
	min-height: 200px;
	width: 700px;
	border-radius: 4px 4px 4px 4px;
}

#login_container {
	margin: 40px auto;
	padding: 20px;
	border: 1px solid #DDDDDD;
	position: relative;
	background: url("../img/login.png") no-repeat scroll 95% 100% #F1F1F1;
	min-height: 200px;
	width: 600px;
	border-radius: 4px 4px 4px 4px;
}

#signup_container {
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #DDDDDD;
	position: relative;
	background: url("../img/signup.png") no-repeat scroll 95% 100% #F1F1F1;
	min-height: 200px;
	width: 800px;
	border-radius: 4px 4px 4px 4px;
}

div.info,div.success,div.warning,div.error {
	font-size: 0.85em;
	border: 1px solid;
	margin: 10px 0px;
	padding: 10px 20px;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

div.info {
	color: #00529B;
	background-color: #BDE5F8;
	border-color: #60B2EF;
}

div.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	border-color: #8FCA50;
}

div.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	border-color: #EFB050;
}

div.error {
	color: #D8000C;
	background-color: #FED1D1;
	border-color: #E3A198;
}

div#options {
	margin: 0 auto;
	padding-top: 20px;
	width: 730px;
}

ul.adjustment_choose a {
	margin: 10px;
	width: 320px;
	padding: 20px 0 0 20px;
	height: 120px;
	border: 1px solid #CCCCCC;
	border-radius: 4px 4px 4px 4px;
	float: left;
	text-decoration: none;
	font-size: 25px;
	font-family: Jura, sans-serif;
	color: #777777;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	text-shadow: 0 1px 0 #FFFFFF;
}

ul.adjustment_choose a:HOVER {
	border-color: #AAAAAA;
	color: #333333;
}

ul.adjustment_choose a:ACTIVE {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4) inset;
	padding-top: 22px;
	height: 118px;
}

ul.adjustment_choose a div {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	margin-left: 5px;
	width: 200px;
}

ul.adjustment_choose a.wizard {
	background: url("../img/wizard.png") no-repeat scroll 97% 100% #F5F5F5;
	back
}

ul.adjustment_choose a.onepage {
	background: url("../img/onepage.png") no-repeat scroll 97% 100% #F5F5F5;
}

ul.adjustment_choose a.import {
	background: url("../img/import.png") no-repeat scroll 97% 100% #F5F5F5;
}

div.side_toolbar {
	position: fixed;
	width: 150px;
	height: 350px;
	top: 200px;
	left: 0;
	border: 1px solid #BBBBBB;
	background-color: #FFFFFF;
	z-index: 100;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */
}

div#wizard_panel {
	width: 860px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #DDDDDD;
	background-color: #F1F1F1;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #DDDDDD;
}

div#wizard_header {
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
}

div#wizard_header h3 {
	font-size: 22px;
	font-family: Jura, sans-serif;
}

div#wizard_form {
	
}

div#wizard_buttons {
	border-top: 1px solid #DDDDDD;
	padding: 10px 10px;
}

.next_btn,.previous_btn {
	display: inline-block;
	cursor: pointer;
	padding: 8px 10px;
	border: 1px solid #CCCCCC;
	background-color: #FAFAFA;
	background-image: linear-gradient(to bottom, #FCFCFC, #D5D5D5);
	background-repeat: repeat-x;
	min-width: 80px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

.next_btn {
	border-radius: 3px 15px 15px 3px;
	float: right;
}

.previous_btn {
	border-radius: 15px 3px 3px 15px;
}

/* ---------------------- WELCOME PAGE HEADING -------------------*/
#heading {
	margin: 20px;
	padding: 20px;
	border-bottom: 1px solid #DDDDDD;
}

#heading h1 {
	text-align: center;
	font-size: 25px;
	font-family: Jura, sans-serif;
	font-size: 25px;
}

/* --------------------------- SLIDESHOW -------------------------*/
div#slides {
	margin: 0px auto;
	width: 940px;
	position: relative;
}

.slides_container { /* 	margin: 0px auto; */
	width: 940px;
	height: 400px;
	/* border: 1px solid silver; */
}

.slides_container div.slide {
	width: 940px;
	height: 400px;
	display: block;
}

.slide .image {
	width: 600px;
	float: left;
}

.slide .text {
	width: 260px;
	float: left;
	height: 320px;
	padding: 80px 40px 0px 40px;
	padding-left: 20px;
}

.slide .text h1 {
	font-weight: bold;
	font-size: 20px;
	padding: 10px 0;
}

#slides div.prev {
	background: url("../img/arrow-left.png") no-repeat scroll 0 0 transparent;
	top: 50%;
	left: 0;
}

#slides div.next {
	background: url("../img/arrow-right.png") no-repeat scroll 0 0 transparent;
	top: 50%;
	right: 0;
}

#slides div.prev,#slides div.next {
	position: absolute;
	height: 36px;
	text-indent: -8000px;
	width: 20px;
	z-index: 100;
}

#slides div.prev:HOVER,#slides div.next:HOVER {
	background-position: 0 -36px;
}

#slides div.prev:ACTIVE,#slides div.next:ACTIVE {
	background-position: 0 -72px;
}

ul.pagination {
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: 100;
}

ul.pagination li a {
	background-color: #CCCCCC;
	cursor: pointer;
	display: inline-block;
	border-radius: 6px 6px 6px 6px;
	height: 12px;
	margin: 0 3px;
	width: 12px;
	text-indent: -8000px;
	transition: color 0.5s ease-in 0s;
}

.pagination li.current a {
	background-color: #328FC9;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzBa1RVmPjeKy21_GQJaLlJI.woff)
		format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'),
		url(http://themes.googleusercontent.com/static/fonts/opensans/v6/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff)
		format('woff');
}

@font-face {
	font-family: 'Jura';
	font-style: normal;
	font-weight: 400;
	src: local('Jura Regular'), local('Jura-Regular'),
		url(http://themes.googleusercontent.com/static/fonts/jura/v4/ikSpnlk15P9I9D4KtDGQVQ.woff) format('woff');
}