@CHARSET "UTF-8";

html,body {
	height: 100%;
}

body {
	background-color: #FFFFFF;
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.3;
}

div#wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px 0px -101px 0px;
}

div#container {
	width: 960px;
	margin: 0 auto;
	padding: 0px 0px 121px 0px;
}

/* HEADER  */
div#header {
	height: 45px;
	background-color: #2B6DAE;
	background: -moz-linear-gradient(top, #4A8CCD, #2062A3) repeat scroll 0
		0 #2B6DAE;
	background: -ms-linear-gradient(top, #4A8CCD, #2062A3) repeat scroll 0 0
		#2B6DAE;
	background: -webkit-linear-gradient(top, #4A8CCD, #2062A3) repeat scroll
		0 0 #2B6DAE;
	background: -o-linear-gradient(top, #333, #222) repeat scroll 0 0
		#2B6DAE;
	background: linear-gradient(top, #333, #222) repeat scroll 0 0 #2B6DAE;
	box-shadow: 0 1px 2px #777777;
	-moz-box-shadow: 0 2px 4px #AAAAAA;
	-webkit-box-shadow: 0 2px 4px #AAAAAA;
	margin-bottom: 10px;
}

div#header_inner_wrapper,div#footer_inner_wrapper {
	width: 960px;
	margin: 0 auto;
}

div#header a {
	color: #FFFFFF;
}

div#logo {
	float: left;
	margin: 8px 0 0 8px;
	font-weight: bold;
	text-decoration: none;
}

div#logo a {
	font-size: 22px;
	text-shadow: 0 2px 3px #333333;
	font-weight: bold;
	text-decoration: none;
	font-weight: bold;
}

div#logo a:HOVER {
	text-shadow: 0 0 10px #FFFFFF;
}

div#header_menu {
	float: right;
}

.nav {
	display: block;
	position: relative;
}

.dropdown {
	position: relative;
}

.nav li {
	display: block;
	float: left;
}

.nav li a {
	display: block;
	padding: 13px 10px 15px 10px;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 2px #333333;
}

.nav li a:HOVER {
	background-color: #2B6DAE;
	text-shadow: 0 0 10px #FFFFFF;
}

a#account {
	font-size: 14px;
	padding: 13px 10px 14px 10px;
}

.caret {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #FFFFFF;
	margin-top: 7px;
	content: "↓";
	display: inline-block;
	height: 0;
	vertical-align: top;
	width: 0;
}

div#account_dropdown,div#locale_dropdown {
	padding: 10px 0 10px 0;
	position: absolute;
	top: 45px;
	border: 1px solid #BBBBBB;
	background-color: #FFFFFF;
	min-width: 120px;
	z-index: 1000;
	right: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	display: none;
}

div#account_dropdown a,div#locale_dropdown a {
	font-size: 12px;
	display: block;
	padding: 4px 10px 4px 10px;
	font-weight: normal;
	text-shadow: none;
	line-height: 1.5;
	color: #4183C4;
}

div#account_dropdown a:HOVER,div#locale_dropdown a:HOVER {
	color: #FFFFFF;
}

/* ------------------------------------   FOOTER   ------------------------------------- */
div#footer {
	background: url("../img/cvut_logo_mono.png") no-repeat scroll center
		35px #F5F5F5;
	border-top: 1px solid #DDDDDD;
	height: 100px;
	width: 100%;
	min-width: 960px;
}

div#footer_inner_wrapper {
	text-align: center;
	padding: 20px;
	font-size: 0.9em;
}

div#footer_inner_wrapper #upper,div#footer_inner_wrapper #bottom {
	padding-bottom: 15px;
}

div#footer a {
	padding: 10px;
	color: #555555;
}

/* ------------------------- NAV MENU -------------------------------*/
a {
	text-decoration: none;
	color: #4183C4;
}

a:HOVER {
	text-decoration: underline;
	color: #4183C4;
}

div.nav_menu {
	padding: 0 0 10px 0;
	border-bottom: 1px solid #DDDDDD;
	margin: 10px 0 10px 0;
	height: 25px;
}

div.nav_menu ul {
	font-weight: bold;
	font-size: 13px;
}

div.nav_menu ul li {
	display: inline;
	padding: 0;
}

div.nav_menu ul li a {
	padding: 3px 5px;
	margin: 0px 5px;
	float: left;
	color: #555555;
	border-bottom: 3px solid #DDDDDD;
	float: left;
}

div.nav_menu ul li a:HOVER {
	text-decoration: none;
	color: #111111;
	border-bottom: 3px solid #111111;
}

div.nav_menu ul li a.active {
	color: #2B6DAE;
	border-bottom: 3px solid #2B6DAE;
}

div#content {
	clear: both;
	margin: 10px;
}

/* ----------------------------------   ACCOUNT MANAGEMENT   -------------------------------------*/
div#account_container {
	padding: 10px;
	margin-top: 20px;
}

div#account_container .left_menu {
	margin: 40px -3px 0 0;
	width: 160px;
	display: inline-block;
	position: relative;
	line-height: 1.5;
	vertical-align: top;
}

div#account_container .left_menu li {
	border-radius: 3px 3px 3px 3px;
}

div#account_container .left_menu li a {
	margin-right: -1px;
	display: block;
	color: #333333;
	cursor: pointer;
	padding: 5px 0 5px 15px;
	text-decoration: none;
}

div#account_container .left_menu li a:HOVER {
	background-color: #F5F5F5;
}

div#account_container .left_menu li a:ACTIVE {
	color: #FFFFFF;
	background-color: #2B6DAE;
}

div#account_container .left_menu span.active_menu li a {
	color: #FFFFFF;
	background-color: #2B6DAE;
}

div#account_container .panel {
	display: inline-block;
	padding: 20px;
	border: 1px solid #DDDDDD;
	background: url("../img/download.png") no-repeat scroll 95% 100% #F5F5F5;
	min-height: 200px;
	width: 620px;
	line-height: 1.4;
}

div#account_container .panel_header {
	border-bottom: 1px solid #BBBBBB;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

div#account_container .panel_header h2 {
	font: 28px "Droid Serif", Arial, sans-serif;
}

fieldset {
	font-weight: bold;
	border-top: 1px solid #DDDDDD;
	padding: 10px 0px 10px 40px;
}

legend {
	padding: 0px 10px;
	margin: 0 0 0 -25px;
	font-size: 14px;
}

input[type=text],input[type=password],textarea,select {
	border: 1px solid #BBBBBB;
	border-radius: 1px 1px 1px 1px;
	color: #555555;
	display: inline-block;
	font-size: 13px;
	height: 15px;
	line-height: 15px;
	margin-bottom: 9px;
	padding: 4px;
	width: 210px;
}

input[type=text]:focus,input[type=password]:focus,textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(82, 168, 236, 0.6);
	outline: 0 none;
}

input.submit_btn {
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	padding: 5px 15px;
	color: #FFFFFF;
	background-color: #2B6DAE;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 0 1px 2px #333333;
}

input.submit_btn:ACTIVE {
	background-color: blue;
}

.form_button {
	border-top: 1px solid #DDDDDD;
	padding: 10px 0 0 30px;
}

.form_errors {
	color: red;
	font-style: italic;
	font-size: 0.85em;
	font-style: italic;
}