@CHARSET "UTF-8";

html,body {
	height: 100%;
}

body {
	background-color: #FFF;
	color: #333333;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.3;
}

div#wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px 0px -100px 0px;
}

div#container,div#welcome_container {
	width: 960px;
	margin: 0 auto;
	padding: 0px 0px 111px 0px;
}

/* HEADER  */
div#header {
	height: 40px;
	background-color: #2B6DAE;
	background: -moz-linear-gradient(top, #4A8CCD, #2062A3) repeat-x scroll 0 0 #2B6DAE;
	background: -ms-linear-gradient(top, #4A8CCD, #2062A3) repeat-x scroll 0 0 #2B6DAE;
	background: -webkit-linear-gradient(top, #4A8CCD, #2062A3) repeat-x scroll 0 0 #2B6DAE;
	background: -o-linear-gradient(top, #4A8CCD, #2062A3) repeat-x scroll 0 0 #2B6DAE;
	background: linear-gradient(top, #69D344, #4C8B36) repeat-x scroll 0 0 #2B6DAE;
	box-shadow: 0 1px 2px #777777;
	-moz-box-shadow: 0 2px 4px #AAAAAA;
	-webkit-box-shadow: 0 2px 4px #AAAAAA;
}

div#header_inner_wrapper,div#footer_inner_wrapper {
	width: 960px;
	margin: 0px auto;
}

div#header a {
	color: #FFFFFF;
}

div#logo {
	float: left;
}

div#logo a img {
	padding: 5px 3px 3px 3px;
}

div#logo:HOVER {
	background-color: #2B6DAE;
}

div#header_menu {
	float: right;
}

.nav {
	display: block;
	position: relative;
}

.dropdown {
	position: relative;
}

.nav li {
	display: block;
	float: left;
}

.nav li a {
	display: block;
	padding: 11px 10px 15px 10px;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
	transition: text-shadow 1s;
	-moz-transition: text-shadow 1s; /* Firefox 4 */
	-webkit-transition: text-shadow 1s; /* Safari and Chrome */
	-o-transition: text-shadow 1s; /* Opera */
}

.nav li a.bold {
	padding: 11px 10px 14px 10px;
	font-weight: bold;
}

.nav li a:HOVER { /* background-color: #2B6DAE; */
	text-shadow: 0 0 10px #FFFFFF;
}

.caret {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #FFFFFF;
	margin-top: 7px;
	/* content: "↓"; */
	display: inline-block;
	height: 0;
	vertical-align: top;
	width: 0;
}

div#account_dropdown,div#locale_dropdown {
	padding: 5px 0 5px 0;
	position: absolute;
	top: 40px;
	border: 1px solid #BBBBBB;
	background-color: #FFFFFF;
	min-width: 120px;
	z-index: 100;
	right: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	display: none;
}

div#account_dropdown a,div#locale_dropdown a {
	font-size: 0.9em;
	display: block;
	padding: 2px 8px 2px 8px;
	font-weight: normal;
	text-shadow: none;
	line-height: 1.5;
	color: #4183C4;
}

div#account_dropdown a:HOVER,div#locale_dropdown a:HOVER {
	color: #FFFFFF;
	background-color: #3375B6;
}

/* ------------------------------------   FOOTER   ------------------------------------- */
div#footer {
	background: url("../img/cvut_logo_mono.png") no-repeat scroll center 35px #F1F1F1;
	border-top: 1px solid #DDDDDD;
	height: 100px;
	width: 100%;
	min-width: 960px;
}

div#footer_inner_wrapper {
	text-align: center;
	padding: 20px;
	font-size: 0.85em;
}

div#footer_inner_wrapper #upper,div#footer_inner_wrapper #bottom {
	padding-bottom: 15px;
}

div#footer a {
	padding: 10px;
	color: #555555;
}

div#footer .rights {
	
}

/* ------------------------- NAV MENU -------------------------------*/
a {
	text-decoration: none;
	color: #4183C4;
}

a:HOVER {
	text-decoration: underline;
	color: #4183C4;
}

div.nav_menu {
	padding: 0 0 10px 0;
	border-bottom: 1px solid #DDDDDD;
	margin: 10px 0 10px 0;
	height: 21px;
}

div.nav_menu ul {
	font-size: 13px;
	font-weight: bold;
}

div.nav_menu ul li {
	display: inline;
	padding: 0;
}

div.nav_menu ul li a {
	padding: 5px 4px 7px 4px;
	margin: 0px 5px;
	float: left;
	color: #999999;
	text-shadow: 0 1px 0 #FFFFFF;
	border-bottom: 3px solid transparent;
	border-right: 6px outset transparent;
	transition: all 0.5s;
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari and Chrome */
	-o-transition: all 0.5s; /* Opera */
}

div.nav_menu ul li a:HOVER {
	text-decoration: none;
	color: #444444;
	border-bottom: 3px solid #2B6DAE;
}

div.nav_menu ul li a.active {
	color: #444444;
	border-bottom: 3px solid #2B6DAE;
}

div#content {
	clear: both;
	margin: 10px;
}

div#documentation_content {
	margin: 20px;
}

/* ----------------------------------   ACCOUNT MANAGEMENT   -------------------------------------*/
div#account_container,div#admin_container {
	padding: 10px;
	margin: 0px auto;
	margin-top: 20px;
}

.left_menu {
	margin: 40px -3px 0 0;
	width: 160px;
	display: inline-block;
	position: relative;
	line-height: 1.5;
	vertical-align: top;
}

.left_menu li {
	border-radius: 3px 3px 3px 3px;
}

.left_menu li a {
	margin-right: -1px;
	display: block;
	color: #333333;
	cursor: pointer;
	padding: 5px 0 5px 15px;
	text-decoration: none;
}

.left_menu li a:HOVER {
	background-color: #F1F1F1;
}

.left_menu li a:ACTIVE {
	color: #FFFFFF;
	background-color: #3375B6;
	text-shadow: none;
}

.left_menu span.active_menu li a {
	color: #FFFFFF;
	background-color: #3375B6;
	text-shadow: none;
}

div#account_container .panel,div#admin_container .panel {
	display: inline-block;
	padding: 20px;
	border: 1px solid #DDDDDD;
	background: #F1F1F1;
	min-height: 200px;
	width: 720px;
	border-radius: 4px;
	line-height: 1.4;
}

div#account_container div#info {
	background: url("../img/info_symbol.png") no-repeat scroll 95% 100% #F1F1F1;
}

div#account_container div#user {
	background: url("../img/user_symbol.png") no-repeat scroll 95% 100% #F1F1F1;
}

div#account_container div#changepass {
	background: url("../img/key_symbol.png") no-repeat scroll 95% 100% #F1F1F1;
}

div#account_container div#loginslist {
	background: url("../img/login_symbol.png") no-repeat scroll 95% 100% #F1F1F1;
}

div#account_container div#delete {
	background: url("../img/bin_symbol.png") no-repeat scroll 95% 100% #F1F1F1;
}

#delete .warning {
	width: 500px;
	font-size: 13px;
	margin: 15px 0 10px 5px;
}

.panel_header {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 8px;
	margin-bottom: 10px;
}

.panel_header h2 {
	font: 30px "Roboto Condensed", Arial, sans-serif;
}

.panel_header h3 {
	font-size: 14px;
	padding-left: 15px;
}

.form_hints {
	border-top: 1px solid #DDD;
	padding: 5px;
}

.form_hints p {
	padding: 5px;
}

.text_inputs {
	margin-top: 10px;
}

/* ------------------ ABOUT ------------------ */
div#about_container {
	margin: 40px 10px 20px 10px;
	text-shadow: 0 1px 0 #FFFFFF;
	overflow: hidden;
}

div#about_container .right_menu {
	border: 1px solid #DDD;
	float: left;
	margin: 10px 40px 10px 0px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
	min-width: 200px;
}

.right_menu li a {
	display: block;
	padding: 7px 5px 7px 15px;
	border-top: 1px solid #EEEEEE;
}

.right_menu li a:HOVER {
	text-decoration: none;
	background-color: #F1F1F1;
}

.right_menu span.active_menu li a {
	text-decoration: none;
	background-color: #4183C4;
	color: #FFFFFF;
	text-shadow: 0 -1px 1px #555555;
}

div#about_container .right_menu .menu_header {
	font-size: 16px;
	border-bottom: 1px solid #DDD;
	background-color: #F1F1F1;
	background: -moz-linear-gradient(top, #fafafa, #e5e5e5) repeat scroll 0 0 #e9e9e9;
	background: -ms-linear-gradient(top, #fafafa, #e5e5e5) repeat scroll 0 0 #e9e9e9;
	background: -webkit-linear-gradient(top, #fafafa, #e5e5e5) repeat scroll 0 0 #e9e9e9;
	background: -o-linear-gradient(top, #fafafa, #e5e5e5) repeat scroll 0 0 #e9e9e9;
	background: linear-gradient(top, #fafafa, #e5e5e5) repeat scroll 0 0 #e9e9e9;
	padding: 5px;
	text-align: center;
}

#about_content {
	width: 680px;
	float: left;
}

#about_content .content {
	padding: 0px 10px;
	margin-top: -20px;
}

#about_content .content h1 {
	font: 18px "Roboto Condensed", sans-serif;
	padding: 20px 5px 10px 0px;
	color: #4183C4;
}

#about_content .content p {
	padding-left: 5px;
}

#general_thank {
	margin-top: 30px;
}

/* ------------------ FORMS ------------------ */
fieldset {
	border-top: 1px solid #DDDDDD;
	padding: 10px 40px;
	text-shadow: 1px 1px 0 #FFFFFF;
}

legend {
	padding: 0px 10px;
	margin: 0 0 0 -25px;
	font: 15px "Roboto Condensed";
}

.small_form_element,.medium_form_element,.large_form_element {
	margin: 5px 0px;
	display: inline-block;
	vertical-align: top;
	display: inline-block;
}

.small_form_element {
	width: 215px;
}

.medium_form_element {
	width: 380px;
}

.large_form_element {
	width: 520px;
}

.small_form_element label,.medium_form_element label,.large_form_element label {
	display: inline-block;
	text-align: right;
	color: #555;
	padding-top: 6px;
	vertical-align: top;
}

.small_form_element label {
	width: 100px;
}

.medium_form_element label {
	width: 140px;
}

.large_form_element label {
	width: 160px;
}

label.required {
	font-weight: bold;
}

.small_form_element .input {
	width: 100px;
	display: inline-block;
	margin-left: 10px
}

.medium_form_element .input {
	width: 220px;
	display: inline-block;
	margin-left: 10px
}

.large_form_element .input {
	width: 320px;
	display: inline-block;
	margin-left: 30px
}

.large_form_element .information {
	width: 320px;
	display: inline-block;
	margin-left: 30px;
	padding-top: 6px;
}

div.form_element_errors {
	width: 95%;
	display: inline-block;
	font-size: 0.80em;
	color: #D8000C;
	background-color: #FED1D1;
	border: 1px solid #E3A198;
	border-radius: 0px 0px 3px 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	margin-left: 5px;
	z-index: 0;
}

.large_form_element div.form_element_errors {
	margin-left: 8px;
}

.small_form_element div.form_element_errors {
	margin-left: 3px;
}

.title_bar div.form_element_errors {
	width: 200px;
}

div.form_element_errors ul {
	list-style-type: disc;
	padding: 2px 6px 2px 18px;
}

div.form_element_errors li {
	padding: 2px 0px;
	text-shadow: none;
}

.input textarea {
	width: 605px;
	height: 120px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.covmat_values {
	padding: 5px;
}

.covmat_values textarea {
	height: 120px;
}

input[type=text],input[type=password] {
	border: 1px solid #BBBBBB;
	border-radius: 1px 1px 1px 1px;
	color: #555555;
	display: inline-block;
	font-size: 13px;
	height: 28px;
	line-height: 15px;
	width: 100%;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	z-index: 5;
}

select {
	height: 28px;
	vertical-align: center;
}

.adjustment_form input[type=text],.adjustment_form input[type=password] {
	height: 20px;
}

textarea {
	border: 1px solid #BBBBBB;
	border-radius: 1px 1px 1px 1px;
	display: inline-block;
	color: #555555;
	width: 100%;
}

input[type=text]:focus,input[type=password]:focus,textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0 none;
}

input[type=submit],input[type=reset],a.button {
	background: -moz-linear-gradient(top, #FFFFFF, #E6E6E6) repeat-x scroll 0 0 #FAFAFA;
	background: -ms-linear-gradient(top, #FFFFFF, #E6E6E6) repeat-x scroll 0 0 #FAFAFA;
	background: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6) repeat-x scroll 0 0 #FAFAFA;
	background: -o-linear-gradient(top, #FFFFFF, #E6E6E6) repeat-x scroll 0 0 #FAFAFA;
	background: linear-gradient(top, #FFFFFF, #E6E6E6) repeat-x scroll 0 0 #FAFAFA;
	border: 1px solid #CCCCCC;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
	font-size: 14px;
	color: #444444;
	padding: 5px 15px;
	text-shadow: 1px 1px 0 #FFFFFF;
}

input[type=checkbox] {
	margin: 0;
}

label.checkbox_label {
	vertical-align: top;
}

input[type=submit]:HOVER,input[type=reset]:HOVER,a.button:HOVER {
	border: 1px solid #AAAAAA;
	background-color: #E6E6E6
}

input[type=submit]:ACTIVE,input[type=reset]:ACTIVE,a.button:ACTIVE {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;
}

input.submit_btn {
	background-color: #2B6DAE;
	background: -moz-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: -ms-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: -webkit-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: -o-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	border: 1px solid #51A0B3;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 15px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
	margin-top: 10px;
}

input.submit_btn:HOVER,.calculate_box button:HOVER,#wizard_buttons #submit:HOVER {
	background-color: #328FC9;
	background: -moz-linear-gradient(top, #37A3EB, #1171BF) repeat-x scroll 0 0 #328FC9;
	background: -ms-linear-gradient(top, #37A3EB, #1171BF) repeat-x scroll 0 0 #328FC9;
	background: -webkit-linear-gradient(top, #37A3EB, #1171BF) repeat-x scroll 0 0 #328FC9;
	background: -o-linear-gradient(top, #37A3EB, #1171BF) repeat-x scroll 0 0 #328FC9;
	background: linear-gradient(top, #37A3EB, #1171BF) repeat-x scroll 0 0 #328FC9;
}

input.submit_btn:ACTIVE,.calculate_box button:ACTIVE,#wizard_buttons #submit:ACTIVE {
	background-color: #2B6DAE;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;
}

.form_buttons {
	border-top: 1px solid #DDDDDD;
	padding: 10px 0 0 30px;
	margin-top: 30px;
}

.form_buttons div {
	margin: 0 auto;
}

.register_container {
	margin-top: 20px;
	padding: 30px 0px;
	text-align: center;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	background-color: #F5F5F5;
	padding: 30px 0px;
}

#signup_btn {
	background-color: #4C8B36;
	background-image: linear-gradient(#69D344, #4C8B36);
	background-image: -moz-linear-gradient(top, #69D344, #4C8B36);
	background-image: -ms-linear-gradient(top, #69D344, #4C8B36);
	background-image: -webkit-linear-gradient(top, #69D344, #4C8B36);
	background-image: -o-linear-gradient(top, #69D344, #4C8B36);
	background-repeat: repeat-x;
	border: 1px solid #74BB5A #74BB5A #509338;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	color: #FFFFFF;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	padding: 15px 30px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
}

#signup_btn:HOVER {
	background: -moz-linear-gradient(top, #8ADD6D, #60B044) repeat-x scroll 0 0 #60B044;
	background: -ms-linear-gradient(top, #8ADD6D, #60B044) repeat-x scroll 0 0 #60B044;
	background: -webkit-linear-gradient(top, #8ADD6D, #60B044) repeat-x scroll 0 0 #60B044;
	background: -o-linear-gradient(top, #8ADD6D, #60B044) repeat-x scroll 0 0 #60B044;
	background: linear-gradient(top, #8ADD6D, #60B044) repeat-x scroll 0 0 #60B044;
	border-color: #4A993E;
	text-decoration: none;
}

#signup_btn:ACTIVE {
	background: -moz-linear-gradient(top, #69D344, #4C8B36) repeat-x scroll 0 0 #4C8B36;
	background: -ms-linear-gradient(top, #69D344, #4C8B36) repeat-x scroll 0 0 #4C8B36;
	background: -webkit-linear-gradient(top, #69D344, #4C8B36) repeat-x scroll 0 0 #4C8B36;
	background: -o-linear-gradient(top, #69D344, #4C8B36) repeat-x scroll 0 0 #4C8B36;
	background: linear-gradient(top, #69D344, #4C8B36) repeat-x scroll 0 0 #4C8B36;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#import_container {
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #DDDDDD;
	position: relative;
	background: url("../img/upload.png") no-repeat scroll 95% 100% #F1F1F1;
	min-height: 200px;
	width: 700px;
	border-radius: 4px 4px 4px 4px;
}

#import_container .form_element_errors {
	width: 250px;
}

#import_container #gnu_gama_error {
	color: #D8000C;
	background-color: #FED1D1;
	border: 1px solid #E3A198;
	padding: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#overlay {
	position: fixed;
	width: 300px;
	height: 200px;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -200px;
	background-color: #FFF;
	border: 1px solid #AAA;
	visibility: hidden;
	opacity: 1;
	z-index: 9999;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	color: #777;
}

#overlay #loader_logo {
	width: 64px;
	height: 64px;
	margin: 20px auto;
}

#overlay #loader_loader {
	width: 160px;
	height: 20px;
	margin: 30px auto;
}

#overlay #loader_message {
	text-align: center;
	font: bold 14px;
}

.dim {
	opacity: 0.5;
	background-color: #000;
	z-index: 9990;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: "";
	visibility: hidden;
}

#login_container {
	margin: 60px auto;
	padding: 20px;
	border: 1px solid #DDDDDD;
	position: relative;
	background-color: #F1F1F1;
	/* background: url("../img/login.png") no-repeat scroll 95% 100% #F1F1F1; */
	min-height: 200px;
	width: 400px;
	border-radius: 4px 4px 4px 4px;
}

#signup_container,#onepage {
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #DDDDDD;
	position: relative;
	min-height: 170px;
	background-color: #F5F5F5;
	width: 860px;
	border-radius: 4px 4px 4px 4px;
}

#onepage {
	background-color: #F5F5F5
}

#signup_container {
	background: url("../img/signup.png") no-repeat scroll 95% 100% #F1F1F1;
}

div.info,div.success,div.warning,div.error {
	font-size: 0.9em;
	border: 1px solid;
	margin: 10px 0px;
	padding: 10px 10px 10px 20px;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

div.info {
	background-color: #CDF5FF;
	border-color: #80D2FF;
	color: #2072BB;
}

div.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	border-color: #8FCA50;
}

div.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	border-color: #EFB050;
}

div.error {
	color: #D8000C;
	background-color: #FED1D1;
	border-color: #E3A198;
}

.icon-close {
	float: right;
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAURJREFUeNpi/P//PwO1AeOoofQxtKKiAkSdAeLZQPmZ7OzsDCD88+dPMGZkZGwAylkAsUdHRweGfhYcloEMNAZiLij7LJKcMxDHA7E8VM4EXTMTDkNnA/FjINYE4rlAbAYVdwPiqUCsAMTXoOqIdulMIL4OMhDofX0gPYOJiek8kLYC8tWB3j8HZGcC8SlsmpnwhPchoAEpbGxsx4Fsw69fvyYBDdMA8ncDxXEaSMhQEDgINOQoiPH9+3eI11hYduAzkKChQJd5//r1CxQxDNzc3GCx379/BwHFHcg11BsUKUBDDYH0UQ4Ojk6gty8ADbUG8qcAsQOphjZAY10e6KpjQDoLaCAo8eYB+ReAtDYQz4GqI9pQUMIWh6bPdCC+BBU/DMTZQHwDmk4tSElSHrAcBcRX0ORALl8Jy1GjpdQQNhQgwABcAn7fEd6v7wAAAABJRU5ErkJggg==");
	width: 20px;
	height: 20px;
	margin-top: -3px;
	cursor: pointer;
}

.adjustment_form .icon-close {
	margin: 0;
}

.adjustment_form .focused .icon-close {
	
}

div#adjustment_options {
	margin: 0 auto;
	padding-top: 20px;
	width: 730px;
	overflow: auto;
}

ul.adjustment_choose a {
	margin: 10px;
	width: 320px;
	padding: 20px 0 0 20px;
	height: 120px;
	border: 1px solid #CCCCCC;
	border-radius: 4px 4px 4px 4px;
	float: left;
	text-decoration: none;
	font-size: 25px;
	font-family: Roboto Condensed, sans-serif;
	color: #777777;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	text-shadow: 0 1px 0 #FFFFFF;
}

ul.adjustment_choose a:HOVER {
	border-color: #AAAAAA;
	color: #111111;
}

ul.adjustment_choose a:ACTIVE {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4) inset;
	padding-top: 22px;
	height: 118px;
}

ul.adjustment_choose a div {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	margin-left: 5px;
	width: 200px;
}

ul.adjustment_choose a.wizard {
	background: url("../img/wizard.png") no-repeat scroll 97% 100% #F5F5F5;
}

ul.adjustment_choose a.onepage {
	background: url("../img/onepage.png") no-repeat scroll 97% 100% #F5F5F5;
}

ul.adjustment_choose a.import {
	background: url("../img/import.png") no-repeat scroll 97% 100% #F5F5F5;
}

div#wizard_panel {
	width: 860px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #DDDDDD;
	background-color: #F1F1F1;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #DDDDDD;
}

div#wizard_header {
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 2px;
	overflow: auto;
}

div#wizard_header h3 {
	font-size: 26px;
	font-family: Roboto Condensed, sans-serif;
	float: left;
}

div#wizard_header h4 {
	font-size: 26px;
	font-family: Roboto Condensed, sans-serif;
	float: right;
}

div#wizard_header h4 .current {
	position: relative;
	bottom: 5px;
	font-weight: bold;
}

div#wizard_header h4 .total {
	position: relative;
	top: 5px;
}

div.advice {
	padding: 10px;
	border-bottom: 1px solid #DDD;
	font-size: 14px;
}

div#wizard_form {
	
}

div#wizard_buttons {
	margin-top: 20px;
	border-top: 1px solid #DDDDDD;
	padding: 20px 10px 10px 10px;
	overflow: auto;
}

#wizard_buttons #next,#wizard_buttons #previous {
	display: inline-block;
	cursor: pointer;
	padding: 8px 10px;
	border: 1px solid #CCCCCC;
	background: -moz-linear-gradient(top, #FFFFFF, #EAEAEA) repeat-x scroll 0 0 #FAFAFA;
	background: -ms-linear-gradient(top, #FFFFFF, #EAEAEA) repeat-x scroll 0 0 #FAFAFA;
	background: -webkit-linear-gradient(top, #FFFFFF, #EAEAEA) repeat-x scroll 0 0 #FAFAFA;
	background: -o-linear-gradient(top, #FFFFFF, #EAEAEA) repeat-x scroll 0 0 #FAFAFA;
	background: linear-gradient(top, #FFFFFF, #EAEAEA) repeat-x scroll 0 0 #FAFAFA;
	min-width: 80px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

#wizard_buttons #next {
	/* border-radius: 3px 15px 15px 3px; */
	float: right;
}

#wizard_buttons #previous {
	/* border-radius: 15px 3px 3px 15px; */
	
}

#wizard_buttons #submit {
	float: right;
	background: -moz-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: -ms-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: -webkit-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: -o-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	border: 1px solid #51A0B3;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 15px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
	margin-top: 10px;
}

/* ----------------- INDEX ----------------------  */
.index_page #primary {
	display: inline-block;
	width: 680px;
}

.index_page #secondary {
	display: inline-block;
	width: 220px;
	margin-left: 30px;
	vertical-align: top;
}

.index_page #primary #welcome {
	border-bottom: 1px solid #DDD;
	padding: 10px 0px 20px 10px;
}

#welcome .title {
	font-size: 18px;
}

#welcome .today {
	margin-left: 10px;
}

/* #whatsnext {
	margin: 10px 5px;
} */
#whatsnext_content {
	padding: 10px;
}

#whatsnext_content li {
	margin: 3px
}

#activities {
	margin: 10px;
}

#activities .activity_list {
	margin: 5px 10px;
	border-left: 1px solid #CCC;
}

#activities .activity {
	padding: 8px 30px;
}

#activities h1 {
	font: 22px "Roboto Condensed", Helvetica, Arial, sans-serif;
}

#activities .line {
	width: 20px;
	border-top: 1px solid #CCC;
	position: relative;
	top: 10px;
	right: 31px;
}

.index_page #secondary #controls,.index_page #secondary #statistics,#whatsnext {
	margin: 30px auto 0 auto;
	width: 200px;
	border: 1px solid #DDD;
	border-radius: 5px;
}

.controls_content .own_calculations,.controls_content .shared_calculations {
	display: inline-block;
	font-size: 14px;
	text-align: center;
	width: 97px;
	padding-top: 5px;
}

.controls_content .own_calculations {
	border-right: 1px solid #DDD;
}

.big_number {
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 5px;
	font-family: "Roboto Condensed", Arial, sans-serif;
}

.statistics_content {
	font-weight: bold;
	padding: 10px;
}

.statistics_content table td:FIRST-CHILD {
	padding: 2px 20px 2px 5px;
	font-weight: bold;
}

/* ---------------------- WELCOME PAGE HEADING -------------------*/
#heading {
	padding: 20px;
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
}

#heading h1 {
	text-align: center;
	font-size: 25px;
	font-family: Roboto Condensed, sans-serif;
	font-size: 25px;
}

/* --------------------------- SLIDESHOW -------------------------*/
div#slides {
	margin: 0px auto;
	width: 940px;
	position: relative;
	display: none;
}

.slides_container {
	width: 940px;
	height: 400px;
}

.slides_container div.slide {
	width: 940px;
	height: 400px;
	display: block;
}

.slide .image {
	width: 600px;
	float: left;
}

.slide .text {
	width: 260px;
	float: left;
	height: 320px;
	padding: 80px 40px 0px 40px;
	padding-left: 20px;
}

.slide .text h1 {
	font-weight: bold;
	font-size: 20px;
	padding: 10px 0;
}

.slide .text p {
	margin-bottom: 10px;
}

.slide .text .more {
	margin-top: 25px;
}

.slide .text .more a {
	color: #FFF;
	background-color: #328FC9;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
}

.slide .text .more a:HOVER {
	background-color: #429FD9;
}

#slides div.prev {
	background: url("../img/arrow-left.png") no-repeat scroll 0 0 transparent;
	left: 0;
}

#slides div.next {
	background: url("../img/arrow-right.png") no-repeat scroll 0 0 transparent;
	right: 0;
}

#slides div.prev,#slides div.next {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	height: 36px;
	text-indent: -8000px;
	width: 20px;
	z-index: 100;
	height: 36px;
}

#slides div.prev:HOVER,#slides div.next:HOVER {
	background-position: 0 -36px;
}

#slides div.prev:ACTIVE,#slides div.next:ACTIVE {
	background-position: 0 -72px;
}

ul.pagination {
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: 100;
}

ul.pagination li {
	float: left;
}

ul.pagination li a {
	background-color: #CCCCCC;
	cursor: pointer;
	display: block;
	float: left;
	height: 12px;
	margin: 0 3px;
	width: 12px;
	text-indent: -8000px;
	transition: color 0.5s ease-in 0s;
	border-radius: 6px 6px 6px 6px;
}

.pagination li.current a {
	background-color: #328FC9;
}

ul.pagination li a:HOVER {
	background-color: #52AFE9;
}

/* ---------------- WELCOME PAGE  --------------------- */
div#welcome_container {
	padding: 20px 0 141px 0;
}

#welcome_container div {
	display: inline-block;
	vertical-align: top;
	margin: 40px;
}

.wide_text {
	width: 480px;
	height: 180px;
	font-size: 14px;
}

.wide_text h1 {
	margin-bottom: 20px;
	font-size: 20px;
	color: #1C79B3;
}

.wide_text p {
	padding-left: 5px;
	line-height: 1.5;
}

.wide_text ul {
	list-style: disc;
	margin: 10px 0px 10px 40px;
}

.narrow_image {
	width: 300px;
	height: 180px;
}

#browsers {
	background: url("../img/browsers.png") no-repeat center;
}

#points_img {
	background: url("../img/points.png") no-repeat center;
	border: 1px solid #DDD;
	height: 165px;
	border-radius: 4px;
}

/* -------------- CALCULATIONS ----------------------- */
#calculations {
	display: inline-block;
	width: 680px;
}

p.not_added {
	font-style: italic;
	padding: 5px;
}

#quick_links {
	display: inline-block;
	width: 200px;
	border: 1px solid #DDD;
	border-radius: 4px;
	vertical-align: top;
	margin: 20px 20px;
}

#quick_links div.content {
	padding: 10px;
}

#quick_links a {
	display: block;
	border: 1px solid #CCC;
	padding: 5px 10px 6px 10px;
	background-color: #EEE;
	text-decoration: none;
	width: 60px;
	margin: 0 auto;
	text-align: center;
	font-size: 15px;
	color: #555;
}

#quick_links a:HOVER {
	border: 1px solid #999;
}

.small_panel_header {
	background-color: #F1F1F1;
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #DDD;
}

#calculations {
	padding: 5px;
}

#my_calculations,#shared_calculations {
	padding: 20px 15px 10px 15px;
	margin-top: 28px;
	background: #FFF;
	min-height: 100px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

#calculations h4 {
	font-size: 18px;
	font-family: "Roboto Condensed", Arial, sans-serif;
	margin-top: -40px;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	padding: 3px 5px;
	width: 260px;
}

#calculations .primary_wrapper {
	padding: 5px;
	position: relative;
}

.input_box,.calculate_box,.result_box {
	float: left;
	margin: 20px 5px;
	min-width: 100px;
	border: 1px solid #DDD;
	padding: 10px;
	border-radius: 4px;
	position: relative;
	overflow: visible;
}

.box_title {
	position: absolute;
	top: -20px;
	left: 5px;
	font: 16px "Roboto Condensed", arial, sans-serif;
}

.input_box {
	width: 100px;
}

.input_box table,.result_box table {
	margin-bottom: 15px;
}

.input_box table td,.result_box table td {
	padding: 2px 5px;
}

.button_wrap {
	text-align: center;
	position: relative;
}

.button_wrap button.pushed {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;
}

.edit_choose {
	display: none;
	width: 100px;
	height: 70px;
	padding: 5px 10px;
	position: absolute;
	top: -30px;
	right: -120px;
	border: 1px solid #BBB;
	background-color: #FFF;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	color: #555;
	z-index: 100;
}

.edit_choose a {
	margin: 5px;
	display: inline-block;
}



.link_button {
	background: -moz-linear-gradient(top, #FFFFFF, #E6E6E6) repeat-x scroll 0 0 #FAFAFA;
	background: -ms-linear-gradient(top, #FFFFFF, #E6E6E6) repeat-x scroll 0 0 #FAFAFA;
	background: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6) repeat-x scroll 0 0 #FAFAFA;
	background: -o-linear-gradient(top, #FFFFFF, #E6E6E6) repeat-x scroll 0 0 #FAFAFA;
	background: linear-gradient(top, #FFFFFF, #E6E6E6) repeat-x scroll 0 0 #FAFAFA;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
	color: #444444;
	padding: 3px 10px;
	text-shadow: 1px 1px 0 #FFFFFF;
}

.link_button:HOVER {
	border: 1px solid #999;
	text-decoration: none;
	color: #333;
}

.link_button:ACTIVE {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;
}

.calculate_box {
	width: 250px;
	min-height: 100px;
	padding-bottom: 20px;
}

.calculate_box .small_form_element {
	width: 240px;
}

.calculate_box label {
	width: 115px;
}

.calculate_box button {
	position: absolute;
	bottom: -12px;
	right: 85px;
	z-index: 10;
	background-color: #2B6DAE;
	background: -moz-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: -ms-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: -webkit-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: -o-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	border: 1px solid #51A0B3;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
	color: #FFFFFF;
	font-weight: bold;
	padding: 3px 10px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.calculate_box button:disabled {
	color: #DDD;
}

.calculate_box button:DISABLED:HOVER {
	background: -moz-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: -ms-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: -webkit-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: -o-linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
	background: linear-gradient(top, #5A9CDD, #3072B3) repeat-x scroll 0 0 #2B6DAE;
}

.result_box {
	width: 180px;
}

.result_box .progress {
	font-weight: bold;
}

.output_error {
	position: relative;
}

.result_box span.error_img {
	width: 20px;
	height: 17px;
	background: url("../img/error.png") no-repeat scroll 100% 100% #FFF;
	display: inline-block;
	margin-bottom: -4px;
}

.result_box span.error_img:HOVER {
	cursor: pointer;
}

.error_message_bubble {
	display: none;
	width: 300px;
	padding: 5px 10px;
	position: absolute;
	top: 5px;
	left: 30px;
	border: 1px solid #BBB;
	background-color: #FFF;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	color: #555;
	oveflow: hidden;
	z-index: 10;
}

.result_box_disabled {
	width: 180px;
	color: #BBB;
	border-color: #EEE;
	background-color: #FCFCFC;
}

.result_box_disabled .export_button {
	color: #BBB;
	cursor: pointer;
}

.result_box_disabled .export_button:HOVER {
	border-color: #CCC;
}

.delete_button {
	position: absolute;
	top: 135px;
	left: 34px;
	cursor: pointer;
}

.status_message {
	position: absolute;
	top: 10px;
	right: 120px;
	z-index: 100;
}

span.calculated,span.not-calculated,span.calculating {
	padding: 3px 10px;
	border: 1px solid;
	/* font-weight: bold; */
	border-radius: 4px;
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
	min-width: 100px;
}

span.calculated {
	color: #4F8A10;
	background-color: #DFF2BF;
	border-color: #8FCA50;
}

span.not-calculated {
	color: #D8000C;
	background-color: #FED1D1;
	border-color: #E3A198;
}

span.calculating {
	color: #9F6000;
	background-color: #FEEFB3;
	border-color: #EFB050;
}

/* ACCORDION  */
.accordion {
	
}

.accordion .ui-accordion-content {
	background-color: #FFF;
	color: #444;
	padding: 5px;
	border: 1px solid #ddd;
	border-top: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.accordion .ui-accordion-header {
	background-color: #e9e9e9;
	background: -moz-linear-gradient(top, #fafafa, #e5e5e5) repeat scroll 0 0 #e9e9e9;
	background: -ms-linear-gradient(top, #fafafa, #e5e5e5) repeat scroll 0 0 #e9e9e9;
	background: -webkit-linear-gradient(top, #fafafa, #e5e5e5) repeat scroll 0 0 #e9e9e9;
	background: -o-linear-gradient(top, #fafafa, #e5e5e5) repeat scroll 0 0 #e9e9e9;
	background: linear-gradient(top, #fafafa, #e5e5e5) repeat scroll 0 0 #e9e9e9;
	margin-top: 2px;
	padding: 10px;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 4px 4px 0px 0px;
	cursor: pointer;
	position: relative;
}

.accordion .ui-accordion-header:HOVER {
	background: -moz-linear-gradient(top, #F1F1F1, #d7d7d7) repeat scroll 0 0 #e9e9e9;
	background: -ms-linear-gradient(top, #F1F1F1, #d7d7d7) repeat scroll 0 0 #e9e9e9;
	background: -webkit-linear-gradient(top, #F1F1F1, #d7d7d7) repeat scroll 0 0 #e9e9e9;
	background: -o-linear-gradient(top, #F1F1F1, #d7d7d7) repeat scroll 0 0 #e9e9e9;
	background: linear-gradient(top, #F1F1F1, #d7d7d7) repeat scroll 0 0 #e9e9e9;
}

/* .accordion .ui-accordion-header-active {
	background: -moz-linear-gradient(top, #FFFFFF, #FFF) repeat scroll 0 0 #e9e9e9;
} */
span.time {
	float: right;
	font-size: 0.9em;
}

/* ADJUSTMENT FORMS */
.points {
	
}

.window {
	border: 1px solid #AAA;
	border-radius: 3px;
	margin-bottom: 15px;
	background-color: #FFF;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	padding: 0;
}

.adjustment_form div.title_bar {
	height: 24px;
	border-bottom: 1px solid #AAA;
	padding-left: 10px;
	background: -moz-linear-gradient(top, #F1F1F1, #d7d7d7) repeat scroll 0 0 #e9e9e9;
	background: -ms-linear-gradient(top, #F1F1F1, #d7d7d7) repeat scroll 0 0 #e9e9e9;
	background: -webkit-linear-gradient(top, #F1F1F1, #d7d7d7) repeat scroll 0 0 #e9e9e9;
	background: -o-linear-gradient(top, #F1F1F1, #d7d7d7) repeat scroll 0 0 #e9e9e9;
	background: linear-gradient(top, #F1F1F1, #d7d7d7) repeat scroll 0 0 #e9e9e9;
}

.adjustment_form div.title_bar input {
	height: 18px;
	width: 160px;
	box-shadow: none;
	border-color: #CCC;
	margin: 1px 10px;
	padding-left: 5px;
}

.adjustment_form div.title_bar input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.points .point_form_element {
	width: 140px;
	display: inline-block;
}

.window_content {
	padding: 10px 5px 5px 10px;
}

.points .point_form_element label {
	margin-right: 5px;
}

.points .point_form_element input {
	width: 115px;
	height: 18px;
}

.points .point_form_element select {
	height: 25px;
	width: 105px;
}

.adjustment_form .focused {
	border: 1px solid #60A2E3;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(82, 168, 236, 0.6);
}

.adjustment_form .focused>div.title_bar {
	background-color: #4082C3;
	background: -moz-linear-gradient(top, #7ABCFD, #4082C3) repeat scroll 0 0 #4082C3;
	background: -ms-linear-gradient(top, #7ABCFD, #4082C3) repeat scroll 0 0 #4082C3;
	background: -webkit-linear-gradient(top, #7ABCFD, #4082C3) repeat scroll 0 0 #4082C3;
	background: -o-linear-gradient(top, #7ABCFD, #4082C3) repeat scroll 0 0 #4082C3;
	background: linear-gradient(top, #7ABCFD, #4082C3) repeat scroll 0 0 #4082C3;
	color: white;
	text-shadow: 0 -1px 1px #333333;
}

/* ADJUSTMENT TOOLBAR  */
div#side_toolbar {
	position: fixed;
	width: 250px;
	height: 350px;
	top: 200px;
	left: 0;
	background-color: #FFFFFF;
	z-index: 50;

	/* transition: all 1s;
	-moz-transition: all 1s; Firefox 4
	-webkit-transition: all 1s; Safari and Chrome
	-o-transition: all 1s; Opera */
}

div#toolbar {
	width: 250px;
	display: inline-block;
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	height: 100%;
}

div#toolbar_header {
	font-size: 0.9em;
	padding: 3px;
	text-align: center;
	border-bottom: 1px solid #CCCCCC;
	background-color: #e9e9e9;
	background: -moz-linear-gradient(top, #fafafa, #DADADA) repeat scroll 0 0 #e9e9e9;
	background: -ms-linear-gradient(top, #fafafa, #DADADA) repeat scroll 0 0 #e9e9e9;
	background: -webkit-linear-gradient(top, #fafafa, #DADADA) repeat scroll 0 0 #e9e9e9;
	background: -o-linear-gradient(top, #fafafa, #DADADA) repeat scroll 0 0 #e9e9e9;
	background: linear-gradient(top, #fafafa, #DADADA) repeat scroll 0 0 #e9e9e9;
	cursor: move;
}

div#toolbar_content {
	padding: 5px;
}

div#collapse_link {
	width: 10px;
	background-color: silver;
	height: 100%;
	display: inline-block;
}

/*  EXPORT  */
#export_wrap {
	padding: 20px 10px 0px 10px;
}

table#export {
	width: 100%;
	border-collapse: collapse;
}

table#export th {
	font-weight: bold;
	padding: 7px;
}

table#export tr {
	border-bottom: 1px solid #CCC;
	transition: all 0.5s;
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari and Chrome */
	-o-transition: all 0.5s; /* Opera */
}

table#export tbody tr:HOVER {
	background-color: #F5F5F5;
	cursor: pointer;
}

table#export tbody tr:HOVER td a {
	padding: 15px 7px;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}

table#export td {
	padding: 0px;
	display: table-cell;
}

table#export td a {
	text-decoration: none;
	color: #999;
	display: block;
	height: 100%;
	padding: 10px 7px;
	display: block;
}

table#export td a.clickable {
	color: #4183C4;
}

.export_box {
	border: 1px solid #DDD;
	border-radius: 5px;
	padding: 20px 10px;
	margin-bottom: 30px;
	position: relative;
}

.export_box .title {
	font: 18px "Roboto Condensed", arial, sans-serif;
	border: 1px solid #DDD;
	background-color: #EEE;
	padding: 3px 7px;
	position: absolute;
	top: -20px;
	left: 10px;
	overflow: visible;
}

#export_wrap #parameters table td {
	padding: 3px 8px;
}

#export_wrap #parameters table>tbody>tr>td:FIRST-CHILD {
	font-weight: bold;
}

#export_options {
	margin: 0 auto;
	overflow: auto;
	line-height: 2.5;
}

ul.export_choose a {
	margin: 10px;
	width: 180px;
	padding: 20px 0 0 20px;
	height: 100px;
	border: 1px solid #CCCCCC;
	border-radius: 4px 4px 4px 4px;
	float: left;
	text-decoration: none;
	font: 28px Roboto Condensed, sans-serif;
	color: #777;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	text-shadow: 0 1px 0 #FFFFFF;
}

ul.export_choose a:HOVER {
	border-color: #AAAAAA;
	color: #111111;
}

ul.export_choose a:ACTIVE {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4) inset;
	padding-top: 22px;
	height: 98px;
}

ul.export_choose a.xml {
	background: url("../img/xml-logo.png") no-repeat scroll 90% 80% #F5F5F5;
}

ul.export_choose a.text {
	background: url("../img/text-logo.png") no-repeat scroll 90% 80% #F5F5F5;
}

ul.export_choose a.html {
	background: url("../img/html-logo.png") no-repeat scroll 90% 80% #F5F5F5;
}

ul.export_choose a.svg {
	background: url("../img/svg-logo.png") no-repeat scroll 90% 80% #F5F5F5;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzBa1RVmPjeKy21_GQJaLlJI.woff)
		format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'),
		url(http://themes.googleusercontent.com/static/fonts/opensans/v6/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff)
		format('woff');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
		url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v7/b9QBgL0iMZfDSpmcXcE8nCj3Mi2hOMP9GNHlaDA9WRI.woff)
		format('woff');
}