<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>#springMessage("account.personal") - #springMessage("application.name")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div id="account_container">
				<div class="left_menu">
					<ul>
						<li><a href="#springUrl("/account/info")">#springMessage("account.overview")</a></li>
						<span class="active_menu"><li><a href="#springUrl("/account/personal")">#springMessage("account.personal")</a></li></span>
						<li><a href="#springUrl("/account/password/change")">#springMessage("account.password.change")</a></li>
						<li><a href="#springUrl("/account/delete")">#springMessage("account.delete")</a></li>
					</ul>
				</div>
				<div id="user" class="panel">
					<div class="panel_header">
						<h2>#springMessage("account.personal")</h2>
					</div>
					#if ($success)
					<div class="success">#springMessage("account.personal.success") <span class="icon-close" role="button"></span></div>
					#end
					#springBind("user.*")#if(${status.error})
					<div class="error">#springMessage("form.has.errors") <span class="icon-close" role="button"></span></div>
					#end
					<form action="" method="post">
						<div class="form">
							<fieldset>
								<legend>#springMessage("account.personal")</legend>
								<div class="large_form_element">
									<label for="firstName">#springMessage("user.firstname"):</label>
									<div class="input">#springFormInput("user.firstName", "")
										#showElementErrors()</div>
								</div>
								<div class="large_form_element">
									<label for="lastName">#springMessage("user.lastname"):</label>
									<div class="input">#springFormInput("user.lastName","")
										#showElementErrors()</div>
								</div>
								<div class="large_form_element">
									<label for="telephone">#springMessage("user.telephone"):</label>
									<div class="input">#springFormInput("user.telephone", "")
										#showElementErrors()</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>Address</legend>
								<div class="large_form_element">
									<label for="street">#springMessage("user.street"):</label>
									<div class="input">#springFormInput("user.street", "")
										#showElementErrors()</div>
								</div>
								<div class="large_form_element">
									<label for="number">#springMessage("user.number"):</label>
									<div class="input">#springFormInput("user.number", "")
										#showElementErrors()</div>
								</div>
								<div class="large_form_element">
									<label for="city">#springMessage("user.city"):</label>
									<div class="input">#springFormInput("user.city", "")
										#showElementErrors()</div>
								</div>
								<div class="large_form_element">
									<label for="zipCode">#springMessage("user.zipcode"):</label>
									<div class="input">#springFormInput("user.zipCode", "")
										#showElementErrors()</div>
								</div>
								<div class="large_form_element">
									<label for="state">#springMessage("user.state"):</label>
									<div class="input">#springFormInput("user.state", "")
										#showElementErrors()</div>
								</div>
							</fieldset>
						</div>
						<div class="form_buttons">
							<input class="submit_btn" type="submit" value="#springMessage("account.personal.submit")">
							<input type="reset" value="Reset">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>