<div id="wizard_panel">
	<div id="wizard_header">
		<h3>STEP 4</h3>
	</div>
	<div id="wizard_form">
		<form action="">
			<label for="name">STEP 4:</label> <input id="name" type="text" />
		</form>

		<div id="wizard_buttons">
			<div id="previous" class="previous_btn step1">Previous</div>
			<div id="next" class="next_btn step1">Next</div>
		</div>
	</div>
</div>