<div id="wizard_panel">
	<div id="wizard_header">
		<h3>STEP 3</h3>
	</div>
	<div id="wizard_form">
		<form action="">
			<label for="name">STEP 3:</label> <input id="name" type="text" />
		</form>

		<div id="wizard_buttons">
			<input id="previous" class="previous_btn step1" type="submit"
				value="Previous"> <input id="next" class="next_btn step1"
				type="submit" value="Next">
		</div>
	</div>
</div>