<div id="wizard_panel">
	<div id="wizard_header">
		<h3>STEP 1</h3>
	</div>
	<div id="wizard_form">
		<form action="">
			<label for="name">STEP 1:</label> <input id="name" name="name" type="text" />
		</form>

		<div id="wizard_buttons">
									<input id="previous" class="previous_btn step1" type="submit" value="Previous">
									<input id="next" class="next_btn step1" type="submit" value="Next">
								</div>
	</div>
</div>
