<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("application.name")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="nav_menu">
				<ul>
					<li><a href="#springUrl("/overview")">#springMessage("navbar.overview")</a></li>
					<li><a class="active" href="#springUrl("/adjustment")">#springMessage("navbar.adjustment")</a></li>
					<li><a href="#springUrl("/calculations")">#springMessage("navbar.calculations")</a></li>
					<li><a href="#springUrl("/import/xml")">#springMessage("navbar.import")</a></li>
					<li><a href="#springUrl("/export")">#springMessage("navbar.export")</a></li>
				</ul>
			</div>
			<div id="content">
				<div class="panel_header">
					<h2>#springMessage("navbar.adjustment")</h2>
				</div>
				<div id="wizard">
					<div id="wizard_panel">
						<div id="wizard_header">
							<h3>General Settings</h3>
						</div>
						<div id="wizard_breadcrumbs"></div>
						<div id="wizard_form">

							<form action="">
								<label for="name">STEP 1:</label> <input id="name" name="name"
									type="text" />

								<div id="wizard_buttons">
									<input id="previous" class="previous_btn step1" type="submit" value="Previous">
									<input id="next" class="next_btn step1" type="submit" value="Next">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm") #parse("toolbar.vm")
	<script>
	jQuery(document).on("click", "#next", function() {
		wizardAjaxPostNext("#springUrl("/adjustment/wizard/step2")");
		return false;
	});
	jQuery(document).on("click", "#previous", function() {
		wizardAjaxPostPrevious("#springUrl("/adjustment/wizard/step4")");
		return false;
	});
	</script>
</body>
</html>