<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("application.name")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="nav_menu">
				<ul>
					<li><a href="#springUrl("/overview")">#springMessage("navbar.overview")</a></li>
					<li><a class="active" href="#springUrl("/adjustment")">#springMessage("navbar.adjustment")</a></li>
					<li><a href="#springUrl("/calculations")">#springMessage("navbar.calculations")</a></li>
					<li><a href="#springUrl("/import/xml")">#springMessage("navbar.import")</a></li>
					<li><a href="#springUrl("/export")">#springMessage("navbar.export")</a></li>
				</ul>
			</div>
			<div id="content">
				<div class="panel_header">
					<h2>#springMessage("adjustment.wizard.form.name")</h2>
				</div>
				<div id="wizard">
					<div id="wizard_panel" class="wizard_first">
						<div id="wizard_header">
							<h3>#springMessage("adjustment.onepage.network.definition")</h3>
							<h4>
								<span class="current">1</span>/<span class="total">4</span>
							</h4>
						</div>
						<div id="wizard_breadcrumbs"></div>
						<div class="advice">
							#springMessage("adjustment.wizard.advice.network.definition")</div>
						<div id="wizard_form">
							#springBind("input.*")#if(${status.error})
							<div class="error">
								#springArgMessage("form.has.arg.errors", $errorCount) <span
									class="icon-close" role="button"></span>
							</div>
							#end
							<div class="form_hints">#springMessage("bold.is.required")</div>
							<form action="" method="post">
								<div class="adjustment_form">
									<fieldset>
										<legend>#springMessage("adjustment.onepage.network.definition")</legend>
										<div class="medium_form_element">
											<label for="axesXY" class="axesXY">#springMessage("input.axesXY"):</label>
											<div class="input">
												<select id="axesXY" name="axesXY">
													<option value="ne" #if ($input.axesXY== "ne") selected #end>#springMessage("input.axesXY.ne")</option>
													<option value="sw" #if ($input.axesXY== "sw") selected #end>#springMessage("input.axesXY.sw")</option>
													<option value="es" #if ($input.axesXY== "es") selected #end>#springMessage("input.axesXY.es")</option>
													<option value="wn" #if ($input.axesXY== "wn") selected #end>#springMessage("input.axesXY.wn")</option>
													<option value="en" #if ($input.axesXY== "en") selected #end>#springMessage("input.axesXY.en")</option>
													<option value="wn" #if ($input.axesXY== "wn") selected #end>#springMessage("input.axesXY.wn")</option>
													<option value="se" #if ($input.axesXY== "se") selected #end>#springMessage("input.axesXY.se")</option>
													<option value="ws" #if ($input.axesXY== "ws") selected #end>#springMessage("input.axesXY.ws")</option>
												</select>
											</div>
										</div>
										<div class="medium_form_element">
											<label for="angles" class="angles">#springMessage("input.angles"):</label>
											<div class="input">
												<select id="angles" name="angles">
													<option value="left-handed" #if ($input.angles==
														"left-handed") selected #end>#springMessage("input.angles.left-handed")</option>
													<option value="right-handed" #if ($input.angles==
														"right-handed") selected #end>#springMessage("input.angles.right-handed")</option>
												</select> #showElementErrors()
											</div>
										</div>
										<div class="medium_form_element">
											<label for="epoch" class="epoch">#springMessage("input.epoch"):</label>
											<div class="input">#springFormInput("input.epoch",
												'placeholder="0"') #showElementErrors()</div>
										</div>
									</fieldset>
									<fieldset>
										<legend>#springMessage("adjustment.onepage.network.description")</legend>
										<div class="medium_form_element">
											<label for="description" class="description">#springMessage("input.description"):</label>
											<div class="input">#springFormTextarea("input.description",
												"") #showElementErrors()</div>
										</div>
									</fieldset>
								</div>
								<div id="wizard_buttons">
									<input id="next" class="step1" name="next" type="submit"
										value="#springMessage("adjustment.wizard.next")">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm") #parse("toolbar.vm") #parse("advices.vm")
	<script>
		jQuery(document).on("click","#next",function() {
					var data = jQuery(".adjustment_form").parent().serialize();
					var step = jQuery(this).prop("class");
					wizardAjaxPostNext('#springUrl("/adjustment/wizard/")' + step, data);
					return false;
				});
		jQuery(document).on(
				"click",
				"#previous",
				function() {
					var data = jQuery(".adjustment_form").parent().serialize();
					var step = jQuery(this).prop("class");
					wizardAjaxPostPrevious('#springUrl("/adjustment/wizard/")' + step, data);
					return false;
				});
		jQuery(document).on(
				"click",
				"#submit",
				function() {
					var data = jQuery(".adjustment_form").parent().serialize();
					var step = jQuery(this).prop("class");
					wizardAjaxPostSubmit('#springUrl("/adjustment/wizard/")'+ step, '#springUrl("/calculations")', data);
					return false;
				});
	</script>
</body>
</html>