<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("navbar.import") | #springMessage("application.name")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="nav_menu">
				<ul>
					<li><a href="#springUrl("/overview")">#springMessage("navbar.overview")</a></li>
					<li><a href="#springUrl("/adjustment")">#springMessage("navbar.adjustment")</a></li>
					<li><a href="#springUrl("/calculations")">#springMessage("navbar.calculations")</a></li>
					<li><a class="active" href="#springUrl("/import/xml")">#springMessage("navbar.import")</a></li>
					<li><a href="#springUrl("/export")">#springMessage("navbar.export")</a></li>
				</ul>
			</div>
			<div id="content">
				<div id="import_container">
					<div class="panel_header">
						<h2>#springMessage("import.xml")</h2>
					</div>
					<p>#springMessage("import.xml.message") </p><br>
					<form method="post" action="" enctype="multipart/form-data">
						<input type="file" name="file" /> <br> <br>
						<input class="submit_btn" type="submit" value="#springMessage("import.xml.submit")" />
					</form>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>