<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("adjustment.navbar")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="nav_menu">
				<ul>
					<li><a href="#springUrl("/overview")">Overview</a></li>
					<li><a href="#springUrl("/adjustment")">#springMessage("adjustment.navbar")</a></li>
					<li><a href="#springUrl("/calculations")">Calculations</a></li>
					<li><a class="active" href="#springUrl("/import/xml")">Import</a></li>
					<li><a href="#springUrl("/export")">Export</a></li>
				</ul>
			</div>
			<div id="content">
				<div id="import_container">
					<div class="panel_header">
						<h2>Import XML</h2>
					</div>
					<form method="post" action="" enctype="multipart/form-data">
						<input type="file" name="file" /> <br> <br> <input class="submit_btn" type="submit" />
					</form>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>