<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("adjustment.navbar")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			#parse("navigation.vm")
			<form method="post" action="" enctype="multipart/form-data">
				<input type="file" name="file" /> 
				<input type="submit" />
			</form>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>