<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>Calculations | Webgama</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="nav_menu">
				<ul>
					<li><a href="#springUrl("/overview")">Overview</a></li>
					<li><a href="#springUrl("/adjustment")">#springMessage("adjustment.navbar")</a></li>
					<li><a class="active" href="#springUrl("/calculation")">Calculations</a></li>
					<li><a href="#springUrl("/import/xml")">Import</a></li>
					<li><a href="#springUrl("/export")">Export</a></li>
				</ul>
			</div>
			<div id="content">
				<div class="panel_header">
					<h2>Calculations</h2>
				</div>
				<div id="accordion">
					#foreach ($input in $inputList)
					<h3>$input.name <span class="time">$dateTool.format("yyyy-MM-dd HH:mm:ss",$input.time.toDate())</span></h3> 
					<div>
						<p>Cras dictum. Pellentesque habitant morbi tristique senectus et
						netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum
						primis in faucibus orci luctus et ultrices posuere cubilia Curae;
						Aenean lacinia mauris vel est.
						</p>
						<p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim
							consequat lectus. Class aptent taciti sociosqu ad litora torquent
							per conubia nostra, per inceptos himenaeos.</p>
					</div>
					#end

				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
	<script>
		$(function() {
			$("#accordion").accordion();
		});
	</script>
</body>
</html>