<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>

	<appender name="jdbcAppender" class="org.apache.log4j.jdbc.JDBCAppender">
		<param name="URL" value="jdbc:postgresql://localhost:5432/test" />
		<param name="Driver" value="org.postgresql.Driver" />
		<param name="User" value="testuser" />
		<param name="Password" value="testpass" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="INSERT INTO errorlogs (date, log_level, application, message, exception) VALUES (TIMESTAMP(now()),'%p', ?? '%m', '%e' )" />
		</layout>
	</appender>

	<!-- Application Loggers -->
	<logger name="cz.cvut.fsv.webgama">
		<level value="info" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
