<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Appropriate tables need to be created in DB -->
	<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource class="ch.qos.logback.core.db.JNDIConnectionSource">
      		<!-- please note the "java:comp/env/" prefix -->
			<jndiLocation>java:comp/env/jdbc/Postgres</jndiLocation>
		</connectionSource>
	</appender>

	<appender name="rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/opt/apache-tomcat-7.0.27/logs/webgama.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
     		 <!-- daily rollover -->
			<fileNamePattern>webgama.%d{yyyy-MM-dd}.log</fileNamePattern>
      		<!-- keep 31 days' worth of history -->
			<maxHistory>31</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
		</encoder>
	</appender>


	<root level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="rollingFile" />
		<!-- <appender-ref ref="DB" /> -->
	</root>
</configuration>