<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>#springMessage("change.password")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div id="account_container">
				<div class="left_menu">
					<ul>
						<li><a href="#springUrl("/account/info")">#springMessage("account.overview")</a></li>
						<li><a href="#springUrl("/account/personal")">#springMessage("user.personal.settings")</a></li>
						<span class="active_menu"><li><a href="#springUrl("/account/password/change")">#springMessage("change.password")</a></li></span>
						<li><a href="#springUrl("/account/logins/show")">#springMessage("logins.list")</a></li>
						<li><a href="#springUrl("/account/delete")">#springMessage("delete.account")</a></li>
					</ul>
				</div>
				<div id="changepass" class="panel">
					<div class="panel_header">
						<h2>#springMessage("change.password")</h2>
					</div>
					<div class="success">Password was successfully changed</div>
					#springBind("user.*")#if(${status.error})
					<div class="error">Form has errors</div>
					#end
					<form action="" method="post">
						<div class="form">
							<fieldset>
								<legend>Current Password</legend>
								<div class="account_form_element">
									<label for="oldPassword" class="required">#springMessage("user.current.password"):</label>
									<div class="input">
										#springFormPasswordInput("user.oldPassword",'autocomplete="off"')
										#showElementErrors()</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>New Password</legend>
								<div class="account_form_element">
									<label for="newPassword" class="required">#springMessage("user.new.password"):</label>
									<div class="input">
										#springFormPasswordInput("user.newPassword", "")
										#showElementErrors()</div>
								</div>
								<div class="account_form_element">
									<label for="confirmNewPassword" class="required">#springMessage("user.confirm.new.password"):</label>
									<div class="input">
										#springFormPasswordInput("user.confirmNewPassword", "")
										#showElementErrors()</div>
								</div>
							</fieldset>
						</div>
						<div class="form_buttons">
							<div>
								<input class="submit_btn" type="submit" value="#springMessage("change.password.button")">
								<input type="reset" value="Reset">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>