<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>#springMessage("account.delete") -
	#springMessage("application.name")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div id="account_container">
				<div class="left_menu">
					<ul>
						<li><a href="#springUrl("/account/info")">#springMessage("account.overview")</a></li>
						<li><a href="#springUrl("/account/personal")">#springMessage("account.personal")</a></li>
						<li><a href="#springUrl("/account/password/change")">#springMessage("account.password.change")</a></li>
						<li><a href="#springUrl("/account/logins/show")">#springMessage("account.logins.list")</a></li>
						<span class="active_menu"><li><a href="#springUrl("/account/delete")">#springMessage("account.delete")</a></li></span>
					</ul>
				</div>
				<div id="delete" class="panel">
					<div class="panel_header">
						<h2>#springMessage("account.delete")</h2>
					</div>
					<p>#springMessage("account.delete.message")</p>
					#if ($userInputCount != 0)
					<div class="warning">
						#springMessage("account.delete.warning.message") <a
							href="#springUrl('/calculations')">$userInputCount</a>
						#springMessage("calculations").
					</div>
					#end
					<form action="" method="post">
						<input class="submit_btn" type="submit" value="#springMessage("account.delete.submit")">
					</form>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>