<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>#springMessage("delete.account")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div id="account_container">
				<div class="left_menu">
					<ul>
						<li><a href="#springUrl("/account/info")">#springMessage("account.overview")</a></li>
						<li><a href="#springUrl("/account/personal")">#springMessage("user.personal.settings")</a></li>
						<li><a href="#springUrl("/account/password/change")">#springMessage("change.password")</a></li>
						<li><a href="#springUrl("/account/logins/show")">#springMessage("logins.list")</a></li>
						<span class="active_menu"><li><a href="#springUrl("/account/delete")">#springMessage("delete.account")</a></li></span>
					</ul>
				</div>
				<div id="delete" class="panel">
					<div class="panel_header">
						<h2>#springMessage("delete.account")</h2>
					</div>
					<p>Are you really sure to deactive your account and all your
						calculations?</p>
					<br>
					<p>Your account will be kept for 14 days and then will be
						completely deleted. You can always reactive your account during
						this period.</p>
					<br>
					<form action="" method="post">
						<input class="submit_btn" type="submit" value="#springMessage("delete.account.button")">
					</form>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>