<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("adjustment.navbar")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="nav_menu">
				<ul>
					<li><a href="#springUrl("/overview")">Overview</a></li>
					<li><a class="active" href="#springUrl("/adjustment")">#springMessage("adjustment.navbar")</a></li>
					<li><a href="#springUrl("/calculations")">Calculations</a></li>
					<li><a href="#springUrl("/import/xml")">Import</a></li>
					<li><a href="#springUrl("/export")">Export</a></li>
				</ul>
			</div>
			<div id="content">
				<div class="panel_header">
					<h2>#springMessage("adjustment.navbar")</h2>
				</div>
				<p>Choose one of the following options and start NEW adjustment:</p>
				<div id="options">
					<ul class="adjustment_choose">
						<li><a class="wizard" href="#springUrl("/adjustment/wizard/new")">Wizard
								<div>Interactive guide through whole adjustment process</div>
						</a></li>
						<li><a class="onepage" href="#springUrl("/adjustment/onepage/new")">One
								Page
								<div>One page form for quick completion</div>
						</a></li>
						<li><a class="import" href="#springUrl("/import/xml")">Import
								XML
								<div>Upload completed GNU Gama XML feed</div>
						</a></li>
					</ul>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>