<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("adjustment.navbar")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="nav_menu">
				<ul>
					<li><a href="#springUrl("/overview")">Overview</a></li>
					<li><a class="active" href="#springUrl("/adjustment")">#springMessage("adjustment.navbar")</a></li>
					<li><a href="#springUrl("/import/xml")">Import</a></li>
					<li><a href="#springUrl("/export")">Export</a></li>
				</ul>
			</div>
			<div id="content">
				<h1>#springMessage("adjustment.navbar")</h1>
				<p>#springMessage("controller") ${time} ms</p>
				<p>$date</p>
				<p>$cal</p>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>