<div class="testicek">
Dnes je $date
<br>
Normalni datum je: $dateTime, jasldfjasdf jalsdfj alsjdflas jlfjasdljf lasdjkflaj sldjflasjdkl fafasdfa ks;ldkfaksd fsfajsldjf laksjdfija lskdjfaj sldjaflafs flaksjdflakjsdlf 
<br>
<input type="text" />
<br>
Nahodne cislo: $cislo
<br>
Pridano ajaxem
</div>