<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("about.project")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="left_menu">
				<ul>
					<span class="active_menu"><li><a href="#springUrl("/about/project")">#springMessage("about.project")</a></li></span>
					<li><a href="#springUrl("/about/cvut")">#springMessage("about.organization")</a></li>
					<li><a href="#springUrl("/about/author")">#springMessage("about.author")</a></li>
				</ul>
			</div>

			<h3>#springMessage("about.project")</h3>

			<p>IP address: $ip</p>
			<p>Port: $port</p>
			<p>Encoding: $encoding</p>

		</div>
	</div>
	#parse("footer.vm")
</body>
</html>