<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("about.author")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")

		<div id="container">
			<div id="about_container">
				<div class="right_menu">
					<div class="menu_header">
						<h2>ABOUT</h2>
					</div>
					<ul>
						<li><a href="#springUrl("/about/project")">#springMessage("about.project")</a></li>
						<li><a href="#springUrl("/about/cvut")">#springMessage("about.organization")</a></li>
						<span class="active_menu"><li><a href="#springUrl("/about/author")">#springMessage("about.author")</a></li></span>
					</ul>
				</div>
				<div id="about_content">
					<div class="panel_header">
						<h2>#springMessage("about.author")</h2>
					</div>

					<p>Jendik Synků</p>

				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>