<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("about.contact")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div id="about_container">
				<div class="right_menu">
					<ul>
						<li><a href="#springUrl("/about/project")">#springMessage("about.project")</a></li>
						<li><a href="#springUrl("/about/author")">#springMessage("about.author")</a></li></span>
						<li><a href="#springUrl("/about/thanks")">#springMessage("about.thanks")</a></li></span>
						<span class="active_menu"><li><a href="#springUrl("/about/contact")">#springMessage("about.contact")</a></li></span>
					</ul>
				</div>
				<div id="about_content">
					<div class="panel_header">
						<h2>#springMessage("about.contact")</h2>
					</div>
					<div class="content">
						<div id="general_message">#springMessage("about.contact.message")</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>