<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("about.organization")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="left_menu">
				<ul>
					<li><a href="#springUrl("/about/project")">#springMessage("about.project")</a></li>
					<span class="active_menu"><li><a href="#springUrl("/about/cvut")">#springMessage("about.organization")</a></li></span>
					<li><a href="#springUrl("/about/author")">#springMessage("about.author")</a></li>
				</ul>
			</div>

			<h3>#springMessage("about.organization")</h3>
			<br> <a href="http://www.cvut.cz">CTU Prague</a> <br> <br>
			<a href="http://www.fsv.cvut.cz">Faculty of Civil Engineering</a>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>