<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("about.thanks")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div id="about_container">
				<div class="right_menu">
					<ul>
						<li><a href="#springUrl("/about/project")">#springMessage("about.project")</a></li>
						<li><a href="#springUrl("/about/cvut")">#springMessage("about.organization")</a></li>
						<li><a href="#springUrl("/about/author")">#springMessage("about.author")</a></li>
						</span>
						<span class="active_menu"><li><a href="#springUrl("/about/thanks")">#springMessage("about.thanks")</a></li></span>
						<li><a href="#springUrl("/about/contact")">#springMessage("about.contact")</a></li>
					</ul>
				</div>
				<div id="about_content">
					<div class="panel_header">
						<h2>#springMessage("about.thanks")</h2>
					</div>
					<div class="content">
						<h1>Jan Pytel</h1>
						<p>#springMessage("about.thanks.pytel.message")</p>
						<h1>Tomáš Luža</h1>
						<p>#springMessage("about.thanks.luza.message")</p>
						<h1>Webdesigner Depot</h1>
						<p>
							#springMessage("about.thanks.webdesigner.message") <a
								href="http://www.webdesignerdepot.com">www.webdesignerdepot.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>