<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("navbar.calculations") |
	#springMessage("application.name")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="nav_menu">
				<ul>
					<li><a href="#springUrl("/overview")">#springMessage("navbar.overview")</a></li>
					<li><a href="#springUrl("/adjustment")">#springMessage("navbar.adjustment")</a></li>
					<li><a class="active" href="#springUrl("/calculations")">#springMessage("navbar.calculations")</a></li>
					<li><a href="#springUrl("/import/xml")">#springMessage("navbar.import")</a></li>
					<li><a href="#springUrl("/export")">#springMessage("navbar.export")</a></li>
				</ul>
			</div>
			<div id="content">
				<div class="panel_header">
					<h2>#springMessage("navbar.calculations")</h2>
				</div>
				<div id="calculations">
					<div id="my_calculations">
						<h4>#springMessage("calculations.my.calculations")</h4>
						#if ($myCalculations.isEmpty())
						<p>
							<i>#springMessage("calculations.my.calculations.notadded")</i>
						</p>
						#else
						<div class="accordion">
							#foreach ($input in $myCalculations)
							<h3>
								$input.name <span class="time" title="$dateTool.format("yyyy-MM-dd HH:mm:ss",$input.time.toDate())">$timeFormatter.periodFromNow($input.time,
									$locale)</span>
							</h3>
							<div class="accor_content">
								<div style="min-height: 100px;">
									<a class="button" href="#springUrl("/adjustment/onepage/${input.id}")">Edit</a>
									<a class="button" href="#">Delete</a>
									<a class="button" href="#">Export</a>

								</div>
							</div>
							#end
						</div>
						#end
					</div>
					<div id="shared_calculations">
						<h4>#springMessage("calculations.shared.calculations")</h4>
						#if ($sharedCalculations.isEmpty())
						<p>
							<i>#springMessage("calculations.my.calculations.notadded")</i>
						</p>
						#else
						<div class="accordion">
							#foreach ($input in $sharedCalculations)
							<h3>
								$input.name <span class="time" title="$dateTool.format("
									yyyy-MM-ddHH:mm:ss",$input.time.toDate())">$timeFormatter.periodFromNow($input.time,
									$locale)</span>
							</h3>
							<div class="accor_content">
								<p>Cras dictum. Pellentesque habitant morbi tristique
									senectus et netus et malesuada fames ac turpis egestas.</p>
							</div>
							#end
						</div>
						#end
					</div>
				</div>
				<div id="quick_links">
					<div class="small_panel_header">#springMessage("navbar.adjustment")</div>
					<div class="content">
						<a class="new_button" href="#springUrl("/adjustment")">#springMessage("calculations.adjustment.new")</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	</div>
	#parse("footer.vm")
</body>
</html>