<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("navbar.calculations") |
	#springMessage("application.name")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="nav_menu">
				<ul>
					<li><a href="#springUrl("/overview")">#springMessage("navbar.overview")</a></li>
					<li><a href="#springUrl("/adjustment")">#springMessage("navbar.adjustment")</a></li>
					<li><a class="active" href="#springUrl("/calculations")">#springMessage("navbar.calculations")</a></li>
					<li><a href="#springUrl("/import/xml")">#springMessage("navbar.import")</a></li>
					<li><a href="#springUrl("/export")">#springMessage("navbar.export")</a></li>
				</ul>
			</div>
			<div id="content">
				<div class="panel_header">
					<h2>#springMessage("navbar.calculations")</h2>
				</div>
				<div id="calculations">
					<div id="my_calculations">
						<h4>#springMessage("calculations.my.calculations")</h4>
						#if ($myCalculations.isEmpty())
						<p>
							<i>#springMessage("calculations.my.calculations.notadded")</i>
						</p>
						#else
						<div class="accordion">
							#foreach ($calculation in $myCalculations)

							<h3 class="calculation_${calculation.id}">
								$calculation.name <span class="time" title="$dateTool.format("yyyy-MM-ddHH:mm:ss",$calculation.time.toDate())">
									#if ($timeFormatter.periodFromNow($calculation.time, $locale)
									== "") #springMessage("now") #else
									$timeFormatter.periodFromNow($calculation.time, $locale) #end</span>
							</h3>
							<div class="accor_content calculation_${calculation.id}">
								<!-- <div style="min-height: 100px;"> -->
								<a class="button" href="#springUrl("/adjustment/onepage/${calculation.id}")">EDIT</a>
								<!-- <a class="button delete_button" href="#springUrl("/adjustment/delete/${calculation.id}")">DELETE</a> -->
								<button class="delete_button" data="${calculation.id}">DELETE</button>
								<a class="button" href="#">EXPORT</a>
								

								<div class="calculate_wrapper">
									<form id="calculate_form_${calculation.id}">
										<p>$calculation.progress</p>
										
										<select name="language">
											<option #if ($calculation.language == "en") selected #end value="en" title="#springMessage('english')">English</option>
											<option #if ($calculation.language == "ca") selected #end value="ca" title="#springMessage('catalan')">català</option>
											<option #if ($calculation.language == "cz") selected #end value="cz" title="#springMessage('czech')">Česky</option>
											<option #if ($calculation.language == "du") selected #end value="du" title="#springMessage('dutch')">Nederlands</option>
											<option #if ($calculation.language == "es") selected #end value="es" title="#springMessage('spanish')">Español</option>
											<option #if ($calculation.language == "fi") selected #end value="fi" title="#springMessage('finnish')">Suomi</option>
											<option #if ($calculation.language == "fr") selected #end value="fr" title="#springMessage('french')">Français</option>
											<option #if ($calculation.language == "hu") selected #end value="hu" title="#springMessage('hugarian')">Magyar</option>
											<option #if ($calculation.language == "ru") selected #end value="ru" title="#springMessage('russian')">Pусский</option>
											<option #if ($calculation.language == "ua") selected #end value="ua" title="#springMessage('ukrainian')">Український</option>
											<option #if ($calculation.language == "zh") selected #end value="zh" title="#springMessage('chinese')">简体中文</option>
										</select>
										
										<select name="algorithm">
											<option #if ($calculation.algorithm == "svd") selected #end value="svd">SVD</option>
											<option #if ($calculation.algorithm == "gso") selected #end value="gso">GSO</option>
											<option #if ($calculation.algorithm == "cholesky") selected #end value="cholesky">CHOLESKY</option>
											<option #if ($calculation.algorithm == "envelope") selected #end value="envelope">ENVELOPE</option>
										</select> 
										
										<select name="angUnits">
											<option #if ($calculation.algorithm == "400") selected #end value="400">400</option>
											<option #if ($calculation.algorithm == "360") selected #end value="360">360</option>
										</select>
										
										
										
										
										#if ($calculation.progress == "not-calculated")
										<button class="calculate_button" data="${calculation.id}">CALCULATE</button>
										#else
										<button class="calculate_button" disabled="disabled"
											data="${calculation.id}">CALCULATE</button>
										#end
									</form>
								</div>

								<!-- </div> -->
							</div>

							#end
						</div>
						#end
					</div>
					<div id="shared_calculations">
						<h4>#springMessage("calculations.shared.calculations")</h4>
						#if ($sharedCalculations.isEmpty())
						<p>
							<i>#springMessage("calculations.shared.calculations.notshared")</i>
						</p>
						#else
						<div class="accordion">
							#foreach ($calculation in $sharedCalculations)
							<h3>
								$calculation.name <span class="time" title="$dateTool.format("yyyy-MM-ddHH:mm:ss",$calculation.time.toDate())">$timeFormatter.periodFromNow($calculation.time,
									$locale)</span>
							</h3>
							<div class="accor_content">
								<p>Cras dictum. Pellentesque habitant morbi tristique
									senectus et netus et malesuada fames ac turpis egestas.</p>
							</div>
							#end
						</div>
						#end
					</div>
				</div>
				<div id="quick_links">
					<div class="small_panel_header">#springMessage("navbar.adjustment")</div>
					<div class="content">
						<a class="new_button" href="#springUrl("/adjustment")">#springMessage("calculations.adjustment.new")</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	</div>
	#parse("footer.vm")
	<script>
		jQuery(document).ready(function() {

			jQuery("button.delete_button").click(function() {
				var id = jQuery(this).attr("data");
				jQuery.ajax({
					type : "POST",
					data : "id=" + id,
					url : '#springUrl("/calculation/delete")',
					success : function(msg) {
						var object = jQuery(".calculation_" + id);
						object.fadeOut(500, function() {
							jQuery(this).remove();
						});
					}
				});
			});

			jQuery("button.calculate_button").click(function(e) {
				var id = jQuery(this).attr("data");
				var btn = jQuery(this);
				var fields = btn.parent().serialize();
				jQuery.ajax({
					type : "POST",
					data : fields + "&id=" + id,
					url : '#springUrl("/calculation/calculate")',
					success : function(msg) {
						btn.attr('disabled', 'disabled');
					}
				});
				//stops normal form submit
				return false;
			});

		});
	</script>
</body>
</html>