<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("adjustment.navbar")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="nav_menu">
				<ul>
					<li><a href="#springUrl("/overview")">Overview</a></li>
					<li><a class="active" href="#springUrl("/adjustment")">#springMessage("adjustment.navbar")</a></li>
					<li><a href="#springUrl("/calculations")">Calculations</a></li>
					<li><a href="#springUrl("/import/xml")">Import</a></li>
					<li><a href="#springUrl("/export")">Export</a></li>
				</ul>
			</div>
			<div id="content">

				<div id="onepage">
					<div class="panel_header">
						<h2>Adjustment Form</h2>
					</div>
					#springBind("input.*")#if(${status.error})
					<div class="error">Form has errors</div>
					#end
					<div class="form_hints">
						<b>Bold</b> indicates required field
					</div>
					<form action="" method="post">
						<div class="adjustment_form">
							<fieldset>
								<legend>Network Definition</legend>
								<div class="medium_form_element">
									<label for="axesXY">axes XY:</label>
									<div class="input">#springFormInput("input.axesXY","")
										#showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="angles">Angles:</label>
									<div class="input">#springFormInput("input.angles","")
										#showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="epoch">Epoch:</label>
									<div class="input">#springFormInput("input.epoch", "")
										#showElementErrors()</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>Network Description</legend>
								<div class="medium_form_element">
									<label for="description">Description:</label>
									<div class="input">#springFormTextarea("input.description",
										"") #showElementErrors()</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>Network Parameters</legend>
								<div class="medium_form_element">
									<label for="sigmaApr">Sigma Apriori:</label>
									<div class="input">#springFormInput("input.sigmaApr", "")
										#showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="confPr">Confidence Probability:</label>
									<div class="input">#springFormInput("input.confPr", "")
										#showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="tolAbs">Tolerance:</label>
									<div class="input">#springFormInput("input.tolAbs", "")
										#showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="sigma-act">SigmaAct:</label>
									<div class="input">
										<select id="sigma-act" name="sigmaAct">
											<option value="aposteriori">Aposteriori</option>
											<option selected="selected" value="apriori">Apriori</option>
										</select>
									</div>
								</div>
								<div class="medium_form_element">
									<label for="updateCC">UpdateCC:</label>
									<div class="input">#springFormInput("input.updateCC", "")
										#showElementErrors()</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>Optional Attributes</legend>
								<div class="medium_form_element">
									<label for="directionStdev">Direction Stdev:</label>
									<div class="input">#springFormInput("input.directionStdev",
										"") #showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="angleStdev">Angle Stdev:</label>
									<div class="input">#springFormInput("input.angleStdev",
										"") #showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="zenithAngleStdev">Zenith Angle Stdev:</label>
									<div class="input">#springFormInput("input.zenithAngleStdev",
										"") #showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="distanceStdev">Distance Stdev:</label>
									<div class="input">#springFormInput("input.distanceStdev",
										"") #showElementErrors()</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>Points</legend>
								#foreach ($point in $input.points)
								<fieldset>
									<legend>
										#set( $i = "${foreach.index}" )
										#springBind("input.points[$i].name") <input type="text"
											name="points[$i].name" value="$!point.name" />
										#showElementErrors()
									</legend>
									<div class="small_form_element">
										<label class="required" for="x">X:</label>
										<div class="input">
											#springBind("input.points[$i].x") <input id="x" type="text"
												name="points[$i].x" value="$!point.x" />
											#showElementErrors()
										</div>
									</div>
									<div class="small_form_element">
										<label class="required" for="y">Y:</label>
										<div class="input">
											#springBind("input.points[$i].y") <input id="y" type="text"
												name="points[$i].y" value="$!point.y" />
											#showElementErrors()
										</div>
									</div>
									<div class="small_form_element">
										<label class="required" for="z">Z:</label>
										<div class="input">
											#springBind("input.points[$i].z") <input id="z" type="text"
												name="points[$i].z" value="$!point.z" />
											#showElementErrors()
										</div>
									</div>
									<div class="small_form_element">
										<label for="fix">Fix:</label>
										<div class="input">
											<select id="fix" name="points[${foreach.index}].fix">
												<option value="xy">xy</option>
												<option value="XY">XY</option>
												<option value="z">z</option>
												<option value="Z">Z</option>
												<option value="xyz">xyz</option>
												<option value="XYZ">XYZ</option>
												<option value="xyZ">xyZ</option>
												<option value="XYz">XYz</option>
											</select>
										</div>
									</div>
									<div class="small_form_element">
										<label for="adj">Adj:</label>
										<div class="input">
											<select id="adj" name="points[${foreach.index}].adj">
												<option value="xy">xy</option>
												<option value="XY">XY</option>
												<option value="z">z</option>
												<option value="Z">Z</option>
												<option value="xyz">xyz</option>
												<option value="XYZ">XYZ</option>
												<option value="xyZ">xyZ</option>
												<option value="XYz">XYz</option>
											</select>
										</div>
									</div>
								</fieldset>
								#end
							</fieldset>
							<fieldset>
								<legend>Observations</legend>
								#foreach ($observation in $input.observations)
								<fieldset>
									#set( $i = "${foreach.index}" )
									<legend>Observation $i</legend>
									<div class="small_form_element">
										<label class="required" for="from">From:</label>
										<div class="input">
											#springBind("input.observations[$i].from") <input id="from"
												type="text" name="observations[$i].from"
												value="$!observation.from" /> #showElementErrors()
										</div>
									</div>
									<div class="small_form_element">
										<label for="orientation">Orientation:</label>
										<div class="input">
											#springBind("input.observations[$i].orientation") <input
												id="orientation" type="text"
												name="observations[$i].orientation"
												value="$!observation.orientation" /> #showElementErrors()
										</div>
									</div>
									<div class="small_form_element">
										<label for="fromDh">FromDh:</label>
										<div class="input">
											#springBind("input.observations[$i].fromDh") <input
												id="fromDh" type="text" name="observations[$i].fromDh"
												value="$!observation.fromDh" /> #showElementErrors()
										</div>
									</div>
									<!-- DIRECTIONS  -->
									#foreach ($direction in $observation.directions)
									<fieldset>
										#set( $j = "${foreach.index}" )
										<legend>Direction</legend>
										<div class="small_form_element">
											<label class="required"
												for="observations[$i].directions[$j].to">To:</label>
											<div class="input">
												#springFormInput("input.observations[$i].directions[$j].to",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label class="required"
												for="observations[$i].directions[$j].val">Value:</label>
											<div class="input">
												#springFormInput("input.observations[$i].directions[$j].val",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].directions[$j].stdev">Stdev:</label>
											<div class="input">
												#springFormInput("input.observations[$i].directions[$j].stdev",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].directions[$j].fromDh">FromDh:</label>
											<div class="input">
												#springFormInput("input.observations[$i].directions[$j].fromDh",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].directions[$j].toDh">ToDh:</label>
											<div class="input">
												#springFormInput("input.observations[$i].directions[$j].toDh",
												"")#showElementErrors()</div>
										</div>
									</fieldset>
									#end
									<!-- DISTANCES  -->
									#foreach ($distance in $observation.distances)
									<fieldset>
										#set( $j = "${foreach.index}" )
										<legend>Distance</legend>
										<div class="small_form_element">
											<label class="required"
												for="observations[$i].distances[$j].from">From:</label>
											<div class="input">
												#springFormInput("input.observations[$i].distances[$j].from",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label class="required"
												for="observations[$i].distances[$j].to">To:</label>
											<div class="input">
												#springFormInput("input.observations[$i].distances[$j].to",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label class="required"
												for="observations[$i].distances[$j].val">Value:</label>
											<div class="input">
												#springFormInput("input.observations[$i].distances[$j].val",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].distances[$j].stdev">Stdev:</label>
											<div class="input">
												#springFormInput("input.observations[$i].distances[$j].stdev",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].distances[$j].fromDh">FromDh:</label>
											<div class="input">
												#springFormInput("input.observations[$i].distances[$j].fromDh",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].distances[$j].toDh">ToDh:</label>
											<div class="input">
												#springFormInput("input.observations[$i].distances[$j].toDh",
												"")#showElementErrors()</div>
										</div>
									</fieldset>
									#end
									<!-- ANGLES  -->
									#foreach ($angle in $observation.angles)
									<fieldset>
										#set( $j = "${foreach.index}" )
										<legend>Angle</legend>
										<div class="small_form_element">
											<label for="observations[$i].angles[$j].from">From:</label>
											<div class="input">
												#springFormInput("input.observations[$i].angles[$j].from",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label class="required" for="observations[$i].angles[$j].bs">Backsight:</label>
											<div class="input">
												#springFormInput("input.observations[$i].angles[$j].bs",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label class="required" for="observations[$i].angles[$j].fs">Foresight:</label>
											<div class="input">
												#springFormInput("input.observations[$i].angles[$j].fs",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label class="required" for="observations[$i].angles[$j].val">Value:</label>
											<div class="input">
												#springFormInput("input.observations[$i].angles[$j].val",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].angles[$j].stdev">Stdev:</label>
											<div class="input">
												#springFormInput("input.observations[$i].angles[$j].stdev",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].angles[$j].fromDh">FromDh:</label>
											<div class="input">
												#springFormInput("input.observations[$i].angles[$j].fromDh",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].angles[$j].bsDh">BsDh:</label>
											<div class="input">
												#springFormInput("input.observations[$i].angles[$j].bsDh",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].angles[$j].fsDh">FsDh:</label>
											<div class="input">
												#springFormInput("input.observations[$i].angles[$j].fsDh",
												"")#showElementErrors()</div>
										</div>
									</fieldset>
									#end
									<!-- SLOPE DISTANCES  -->
									#foreach ($distance in $observation.slopeDistances)
									<fieldset>
										#set( $j = "${foreach.index}" )
										<legend>Slope Distance</legend>
										<div class="small_form_element">
											<label for="observations[$i].slopeDistances[$j].from">From:</label>
											<div class="input">
												#springFormInput("input.observations[$i].slopeDistances[$j].from",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label class="required"
												for="observations[$i].slopeDistances[$j].to">To:</label>
											<div class="input">
												#springFormInput("input.observations[$i].slopeDistances[$j].to",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label class="required"
												for="observations[$i].slopeDistances[$j].val">Value:</label>
											<div class="input">
												#springFormInput("input.observations[$i].slopeDistances[$j].val",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].slopeDistances[$j].stdev">Stdev:</label>
											<div class="input">
												#springFormInput("input.observations[$i].slopeDistances[$j].stdev",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].slopeDistances[$j].fromDh">FromDh:</label>
											<div class="input">
												#springFormInput("input.observations[$i].slopeDistances[$j].fromDh",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].slopeDistances[$j].toDh">ToDh:</label>
											<div class="input">
												#springFormInput("input.observations[$i].slopeDistances[$j].toDh",
												"")#showElementErrors()</div>
										</div>
									</fieldset>
									#end
									<!-- ZENITH ANGLES  -->
									#foreach ($distance in $observation.zenithAngles)
									<fieldset>
										#set( $j = "${foreach.index}" )
										<legend>Zenith Angle</legend>
										<div class="small_form_element">
											<label for="observations[$i].zenithAngles[$j].from">From:</label>
											<div class="input">
												#springFormInput("input.observations[$i].zenithAngles[$j].from",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label class="required"
												for="observations[$i].zenithAngles[$j].to">To:</label>
											<div class="input">
												#springFormInput("input.observations[$i].zenithAngles[$j].to",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label class="required"
												for="observations[$i].zenithAngles[$j].val">Value:</label>
											<div class="input">
												#springFormInput("input.observations[$i].zenithAngles[$j].val",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].zenithAngles[$j].stdev">Stdev:</label>
											<div class="input">
												#springFormInput("input.observations[$i].zenithAngles[$j].stdev",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].zenithAngles[$j].fromDh">FromDh:</label>
											<div class="input">
												#springFormInput("input.observations[$i].zenithAngles[$j].fromDh",
												"")#showElementErrors()</div>
										</div>
										<div class="small_form_element">
											<label for="observations[$i].zenithAngles[$j].toDh">ToDh:</label>
											<div class="input">
												#springFormInput("input.observations[$i].zenithAngles[$j].toDh",
												"")#showElementErrors()</div>
										</div>
									</fieldset>
									#end
								</fieldset>
								#end
							</fieldset>
						</div>
						<div class="form_buttons">
							<input class="submit_btn" type="submit" value="#springMessage("submit")">
							<input type="reset" value="Reset">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm") #parse("toolbar.vm")
</body>
</html>