<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("application.name")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="nav_menu">
				<ul>
					<li><a href="#springUrl("/overview")">#springMessage("navbar.overview")</a></li>
					<li><a class="active" href="#springUrl("/adjustment")">#springMessage("navbar.adjustment")</a></li>
					<li><a href="#springUrl("/calculations")">#springMessage("navbar.calculations")</a></li>
					<li><a href="#springUrl("/import/xml")">#springMessage("navbar.import")</a></li>
					<li><a href="#springUrl("/export")">#springMessage("navbar.export")</a></li>
				</ul>
			</div>
			<div id="content">
				<div id="onepage">
					<div class="panel_header">
						<h2>#springMessage("adjustment.onepage.form.name")</h2>
						#if ($calculationName)
						<h3>$calculationName</h3>
						#end
					</div>
					#springBind("input.*")#if(${status.error})
					<div class="error">
						#springArgMessage("form.has.arg.errors", $errorCount) <span
							class="icon-close" role="button"></span>
					</div>
					#end
					<div class="form_hints">#springMessage("bold.is.required")</div>
					<form action="" method="post">
						<div class="adjustment_form">
							<fieldset>
								<legend>#springMessage("adjustment.onepage.network.definition")</legend>
								<div class="medium_form_element">
									<label for="axesXY">#springMessage("input.axesXY"):</label>
									<div class="input">#springFormInput("input.axesXY",'placeholder="ne"')
										#showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="angles">#springMessage("input.angles"):</label>
									<div class="input">
										<select id="sigma-act" name="angles">
											<option value="left-handed" #if ($input.angles==
												"left-handed") selected #end>Left-Handed</option>
											<option value="right-handed" #if ($input.angles==
												"right-handed") selected #end>Right-Handed</option>
										</select> #showElementErrors()
									</div>
								</div>
								<div class="medium_form_element">
									<label for="epoch">#springMessage("input.epoch"):</label>
									<div class="input">#springFormInput("input.epoch",
										'placeholder="0"') #showElementErrors()</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>#springMessage("adjustment.onepage.network.description")</legend>
								<div class="medium_form_element">
									<label for="description">#springMessage("input.description"):</label>
									<div class="input">#springFormTextarea("input.description",
										"") #showElementErrors()</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>#springMessage("adjustment.onepage.network.parameters")</legend>
								<div class="medium_form_element">
									<label for="sigmaApr">#springMessage("input.sigmaApr"):</label>

									<div class="input">#springFormInput("input.sigmaApr"
										'placeholder="10"') #showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="confPr">#springMessage("input.confPr"):</label>
									<div class="input">#springFormInput("input.confPr",
										'placeholder="0.95"') #showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="tolAbs">#springMessage("input.tolAbs"):</label>
									<div class="input">#springFormInput("input.tolAbs",
										'placeholder="1000"') #showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="sigma-act">#springMessage("input.sigmaAct"):</label>
									<div class="input">
										<select id="sigma-act" name="sigmaAct">
											<option value="aposteriori" #if ($input.sigmaAct==
												"aposteriori") selected #end>Aposteriori</option>
											<option value="apriori" #if ($input.sigmaAct==
												"apriori") selected #end>Apriori</option>
										</select>
									</div>
								</div>
								<div class="medium_form_element">
									<label for="updateCC">#springMessage("input.updateCC"):</label>
									<div class="input">
										<select id="updateCC" name="updateCC">
											<option value="no" #if ($input.updateCC== "no") selected #end>#springMessage("no")</option>
											<option value="yes" #if ($input.updateCC==
												"yes") selected #end>#springMessage("yes")</option>
										</select>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>#springMessage("adjustment.onepage.optional.parameters")</legend>
								<div class="medium_form_element">
									<label for="directionStdev">#springMessage("input.directionStdev"):</label>
									<div class="input">#springFormInput("input.directionStdev",
										"") #showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="angleStdev">#springMessage("input.angleStdev"):</label>
									<div class="input">#springFormInput("input.angleStdev",
										"") #showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="zenithAngleStdev">#springMessage("input.zenithAngleStdev"):</label>
									<div class="input">#springFormInput("input.zenithAngleStdev",
										"") #showElementErrors()</div>
								</div>
								<div class="medium_form_element">
									<label for="distanceStdev">#springMessage("input.distanceStdev"):</label>
									<div class="input">#springFormInput("input.distanceStdev",
										"") #showElementErrors()</div>
								</div>
							</fieldset>


							<fieldset>
								<legend>#springMessage("adjustment.onepage.points")</legend>
								<div class="points">
									#foreach ($point in $input.points) #set( $i =
									"${foreach.index}" )
									<div class="point window">
										<span class="icon-close" role="button"></span>
										#springFormHiddenInput("input.points[$i].id" "")
										<div class="title_bar">
											<label class="required" for="points[$i].name">#springMessage("adjustment.onepage.point"):</label>
											#springBind("input.points[$i].name") <input type="text"
												id="points[$i].name" name="points[$i].name"
												value="$!point.name" /> #showElementErrors()
										</div>
										<div class="window_content">
											<div class="point_form_element">
												<label for="points[$i].x">X:</label>
												#springBind("input.points[$i].x") <input id="points[$i].x"
													type="text" name="points[$i].x" value="$!point.x" />
												#showElementErrors()
											</div>
											<div class="point_form_element">
												<label for="points[$i].y">Y:</label>
												#springBind("input.points[$i].y") <input id="points[$i].y"
													type="text" name="points[$i].y" value="$!point.y" />
												#showElementErrors()
											</div>
											<div class="point_form_element">
												<label for="points[$i].z">Z:</label>
												#springFormInput("input.points[$i].z",
												"")#showElementErrors()
											</div>
											<div class="point_form_element">
												<label for="points[$i].fix">Fix:</label>
												#springBind("input.points[$i].fix")<select
													id="points[$i].fix" name="points[$i].fix">
													<option value=""></option>
													<option value="xy" #if ($point.fix== "xy") selected #end>xy</option>
													<option value="XY" #if ($point.fix== "XY") selected #end>XY</option>
													<option value="z" #if ($point.fix== "z") selected #end>z</option>
													<option value="Z" #if ($point.fix== "Z") selected #end>Z</option>
													<option value="xyz" #if ($point.fix== "xyz") selected #end>xyz</option>
													<option value="XYZ" #if ($point.fix== "XYZ") selected #end>XYZ</option>
													<option value="xyZ" #if ($point.fix== "xyZ") selected #end>xyZ</option>
													<option value="XYz" #if ($point.fix== "XYz") selected #end>XYz</option>
												</select> #showElementErrors()
											</div>
											<div class="point_form_element">
												<label for="points[$i].adj">Adj:</label>
												#springBind("input.points[$i].adj")<select
													id="points[$i].adj" name="points[$i].adj">
													<option value=""></option>
													<option value="xy" #if ($point.adj== "xy") selected #end>xy</option>
													<option value="XY" #if ($point.adj== "XY") selected #end>XY</option>
													<option value="z" #if ($point.adj== "z") selected #end>z</option>
													<option value="Z" #if ($point.adj== "Z") selected #end>Z</option>
													<option value="xyz" #if ($point.adj== "xyz") selected #end>xyz</option>
													<option value="XYZ" #if ($point.adj== "XYZ") selected #end>XYZ</option>
													<option value="xyZ" #if ($point.adj== "xyZ") selected #end>xyZ</option>
													<option value="XYz" #if ($point.adj== "XYz") selected #end>XYz</option>
												</select> #showElementErrors()
											</div>
										</div>
									</div>
									#end
								</div>
							</fieldset>
							<fieldset>
								<legend>#springMessage("adjustment.onepage.clusters")</legend>
								<div class="clusters">

									#foreach($cluster in $input.clusters) #set( $h
									="${foreach.index}" ) #if ($cluster.getObservation())
									#set($observation = $cluster.observation )
									<div class="observation window">
										<span class="icon-close" role="button"></span>
										#springFormHiddenInput("input.clusters[$h].tagname" "")
										#springFormHiddenInput("input.clusters[$h].observation.id" "")
										<div class="title_bar">
											<label class="required">#springMessage("adjustment.onepage.observation")</label>
										</div>
										<div class="window_content">
											<div class="small_form_element">
												<label class="required" for="clusters[$h].observation.from">#springMessage("observation.from"):</label>
												<div class="input">
													#springBind("input.clusters[$h].observation.from") <input
														id="clusters[$h].observation.from" type="text"
														name="clusters[$h].observation.from"
														value="$!observation.from" /> #showElementErrors()
												</div>
											</div>
											<div class="small_form_element">
												<label for="clusters[$h].observation.orientation">#springMessage("observation.orientation"):</label>
												<div class="input">
													#springBind("input.clusters[$h].observation.orientation") <input
														id="clusters[$h].observation.orientation" type="text"
														name="clusters[$h].observation.orientation"
														value="$!observation.orientation" /> #showElementErrors()
												</div>
											</div>
											<div class="small_form_element">
												<label for="clusters[$h].observation.fromDh">#springMessage("observation.fromDh"):</label>
												<div class="input">
													#springBind("input.clusters[$h].observation.fromDh") <input
														id="clusters[$h].observation.fromDh" type="text"
														name="clusters[$h].observation.fromDh"
														value="$!observation.fromDh" /> #showElementErrors()
												</div>
											</div>

											<!-- DIRECTIONS  -->
											<div class="directions">
												#foreach ($direction in $observation.directions) #set( $j =
												"${foreach.index}" )
												<div class="direction window">
													<span class="icon-close" role="button"></span>
													#springFormHiddenInput("input.clusters[$h].observation.directions[$j].id"
													"")
													<div class="title_bar">
														<label class="required">#springMessage("adjustment.onepage.direction")</label>
													</div>
													<div class="window_content">
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].observation.directions[$j].to">#springMessage("direction.to"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.directions[$j].to",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].observation.directions[$j].val">#springMessage("direction.val"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.directions[$j].val",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label
																for="clusters[$h].observation.directions[$j].stdev">#springMessage("direction.stdev"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.directions[$j].stdev",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label
																for="clusters[$h].observation.directions[$j].fromDh">#springMessage("direction.fromDh"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.directions[$j].fromDh",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label for="clusters[$h].observation.directions[$j].toDh">#springMessage("direction.toDh"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.directions[$j].toDh",
																"")#showElementErrors()</div>
														</div>
													</div>
												</div>
												#end
											</div>

											<!-- DISTANCES  -->
											<div class="distances">
												#foreach ($distance in $observation.distances) #set( $j =
												"${foreach.index}" )
												<div class="distance window">
													<span class="icon-close" role="button"></span>
													#springFormHiddenInput("input.clusters[$h].observation.distances[$j].id"
													"")
													<div class="title_bar">
														<label class="required">#springMessage("adjustment.onepage.distance")</label>
													</div>
													<div class="window_content">
														<div class="small_form_element">
															<label for="clusters[$h].observation.distances[$j].from">#springMessage("distance.from"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.distances[$j].from",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].observation.distances[$j].to">#springMessage("distance.to"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.distances[$j].to",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].observation.distances[$j].val">#springMessage("distance.val"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.distances[$j].val",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label for="clusters[$h].observation.distances[$j].stdev">#springMessage("distance.stdev"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.distances[$j].stdev",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label
																for="clusters[$h].observation.distances[$j].fromDh">#springMessage("distance.fromDh"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.distances[$j].fromDh",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label for="clusters[$h].observation.distances[$j].toDh">#springMessage("distance.toDh"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.distances[$j].toDh",
																"")#showElementErrors()</div>
														</div>
													</div>
												</div>
												#end
											</div>

											<!-- ANGLES  -->
											<div class="angles">
												#foreach ($angle in $observation.angles) #set( $j =
												"${foreach.index}" )
												<div class="angle window">
													<span class="icon-close" role="button"></span>
													#springFormHiddenInput("input.clusters[$h].observation.angles[$j].id"
													"")
													<div class="title_bar">
														<label class="required">#springMessage("adjustment.onepage.angle")</label>
													</div>
													<div class="window_content">
														<div class="small_form_element">
															<label for="clusters[$h].observation.angles[$j].from">#springMessage("angle.from"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.angles[$j].from",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].observation.angles[$j].bs">#springMessage("angle.bs"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.angles[$j].bs",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].observation.angles[$j].fs">#springMessage("angle.fs"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.angles[$j].fs",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].observation.angles[$j].val">#springMessage("angle.val"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.angles[$j].val",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label for="clusters[$h].observation.angles[$j].stdev">#springMessage("angle.stdev"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.angles[$j].stdev",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label for="clusters[$h].observation.angles[$j].fromDh">#springMessage("angle.fromDh"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.angles[$j].fromDh",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label for="clusters[$h].observation.angles[$j].bsDh">#springMessage("angle.bsDh"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.angles[$j].bsDh",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label for="clusters[$h].observation.angles[$j].fsDh">#springMessage("angle.fsDh"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.angles[$j].fsDh",
																"")#showElementErrors()</div>
														</div>
													</div>
												</div>
												#end
											</div>

											<!-- SLOPE DISTANCES  -->
											<div class="slopeDistances">
												#foreach ($distance in $observation.slopeDistances) #set( $j
												= "${foreach.index}" )
												<div class="slopeDistance window">
													<span class="icon-close" role="button"></span>
													#springFormHiddenInput("input.clusters[$h].observation.slopeDistances[$j].id"
													"")
													<div class="title_bar">
														<label class="required">#springMessage("adjustment.onepage.slopeDistance")</label>
													</div>
													<div class="window_content">
														<div class="small_form_element">
															<label
																for="clusters[$h].observation.slopeDistances[$j].from">#springMessage("slopeDistance.from"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.slopeDistances[$j].from",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].observation.slopeDistances[$j].to">#springMessage("slopeDistance.to"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.slopeDistances[$j].to",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].observation.slopeDistances[$j].val">#springMessage("slopeDistance.val"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.slopeDistances[$j].val",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label
																for="clusters[$h].observation.slopeDistances[$j].stdev">#springMessage("slopeDistance.stdev"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.slopeDistances[$j].stdev",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label
																for="clusters[$h].observation.slopeDistances[$j].fromDh">#springMessage("slopeDistance.fromDh"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.slopeDistances[$j].fromDh",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label
																for="clusters[$h].observation.slopeDistances[$j].toDh">#springMessage("slopeDistance.toDh"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.slopeDistances[$j].toDh",
																"")#showElementErrors()</div>
														</div>
													</div>
												</div>
												#end
											</div>

											<!-- ZENITH ANGLES  -->
											<div class="zenithAngles">
												#foreach ($distance in $observation.zenithAngles) #set( $j =
												"${foreach.index}" )
												<div class="zenithAngle window">
													<span class="icon-close" role="button"></span>
													#springFormHiddenInput("input.clusters[$h].observation.zenithAngles[$j].id"
													"")
													<div class="title_bar">
														<label class="required">#springMessage("adjustment.onepage.zenithAngle")</label>
													</div>
													<div class="window_content">
														<div class="small_form_element">
															<label
																for="clusters[$h].observation.zenithAngles[$j].from">#springMessage("zenithAngle.from"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.zenithAngles[$j].from",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].observation.zenithAngles[$j].to">#springMessage("zenithAngle.to"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.zenithAngles[$j].to",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].observation.zenithAngles[$j].val">#springMessage("zenithAngle.val"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.zenithAngles[$j].val",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label
																for="clusters[$h].observation.zenithAngles[$j].stdev">#springMessage("zenithAngle.stdev"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.zenithAngles[$j].stdev",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label
																for="clusters[$h].observation.zenithAngles[$j].fromDh">#springMessage("zenithAngle.fromDh"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.zenithAngles[$j].fromDh",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label
																for="clusters[$h].observation.zenithAngles[$j].toDh">#springMessage("zenithAngle.toDh"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].observation.zenithAngles[$j].toDh",
																"")#showElementErrors()</div>
														</div>
													</div>
												</div>
												#end
											</div>
											<div class="covMatWrap">
												#if ($cluster.covMat)
												<div class="covMat window">
													<span class="icon-close" role="button"></span>
													#springFormHiddenInput("input.clusters[$h].covMat.id" "")
													<div class="title_bar">
														<label class="required">#springMessage("adjustment.onepage.covMat")</label>
													</div>
													<div class="window_content">
														<div class="small_form_element">
															<label class="required" for="clusters[$h].covMat.dim">#springMessage("covMat.dim"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].covMat.dim",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required" for="clusters[$h].covMat.band">#springMessage("covMat.band"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].covMat.band",
																"")#showElementErrors()</div>
														</div>
														<div class="covmat_values">
															#springFormTextarea("input.clusters[$h].covMat.values",
															"") #showElementErrors()</div>
													</div>
												</div>
												#end
											</div>
										</div>
									</div>

									<!-- COORDINATES -->
									#elseif ($cluster.getCoordinates().size() != 0)
									<div class="coordinatesWrap window">
										<span class="icon-close" role="button"></span>
										#springFormHiddenInput("input.clusters[$h].tagname" "")
										<div class="title_bar">
											<label class="required">#springMessage("adjustment.onepage.coordinates")</label>
										</div>
										<div class="window_content">
											<div class="coordinates">
												#foreach ($coordinate in $cluster.coordinates) #set( $i =
												"${foreach.index}" )
												<div class="coordinate window">
													<span class="icon-close" role="button"></span>
													#springFormHiddenInput("input.clusters[$h].coordinates[$i].id"
													"")
													<div class="title_bar">
														<label for="clusters[$h].coordinates[$i].name"
															class="required">#springMessage("adjustment.onepage.coordinate"):
														</label> #springBind("input.clusters[$h].coordinates[$i].name") <input
															type="text" name="clusters[$h].coordinates[$i].name"
															id="clusters[$h].coordinates[$i].name"
															value="$!coordinate.name" /> #showElementErrors()
													</div>
													<div class="window_content">
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].coordinates[$i].x">X:</label>
															<div class="input">
																#springFormInput("input.clusters[$h].coordinates[$i].x",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].coordinates[$i].y">Y:</label>
															<div class="input">
																#springFormInput("input.clusters[$h].coordinates[$i].y",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].coordinates[$i].z">Z:</label>
															<div class="input">
																#springFormInput("input.clusters[$h].coordinates[$i].z",
																"")#showElementErrors()</div>
														</div>
													</div>
												</div>
												#end
											</div>
											<div class="covMatWrap">
												#if ($cluster.covMat)
												<div class="covMat window">
													<span class="icon-close" role="button"></span>
													#springFormHiddenInput("input.clusters[$h].covMat.id" "")
													<div class="title_bar">
														<label class="required">#springMessage("adjustment.onepage.covMat")</label>
													</div>
													<div class="window_content">
														<div class="small_form_element">
															<label class="required" for="clusters[$h].covMat.dim">#springMessage("covMat.dim"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].covMat.dim",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required" for="clusters[$h].covMat.band">#springMessage("covMat.band"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].covMat.band",
																"")#showElementErrors()</div>
														</div>
														<div class="covmat_values">
															#springFormTextarea("input.clusters[$h].covMat.values",
															"") #showElementErrors()</div>
													</div>
												</div>
												#end
											</div>
										</div>
									</div>

									<!-- HEIGHT DIFFERENCE  -->
									#elseif ($cluster.getHeightDifferences().size() != 0)
									<div class="heightDifferencesWrap window">
										<span class="icon-close" role="button"></span>
										#springFormHiddenInput("input.clusters[$h].tagname" "")
										<div class="title_bar">
											<label class="required">#springMessage("adjustment.onepage.heightDifferences")</label>
										</div>
										<div class="window_content">
											<div class="heightDifferences">
												#foreach ($heightDifference in $cluster.heightDifferences)
												#set( $i = "${foreach.index}" )
												<div class="heightDifference window">
													<span class="icon-close" role="button"></span>
													#springFormHiddenInput("input.clusters[$h].heightDifferences[$i].id"
													"")
													<div class="title_bar">
														<label class="required">#springMessage("adjustment.onepage.heightDifference")</label>
													</div>
													<div class="window_content">
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].heightDifferences[$i].from">#springMessage("heightDifference.from"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].heightDifferences[$i].from",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].heightDifferences[$i].to">#springMessage("heightDifference.to"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].heightDifferences[$i].to",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].heightDifferences[$i].val">#springMessage("heightDifference.val"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].heightDifferences[$i].val",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label for="clusters[$h].heightDifferences[$i].stdev">#springMessage("heightDifference.stdev"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].heightDifferences[$i].stdev",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label for="clusters[$h].heightDifferences[$i].dist">#springMessage("heightDifference.dist"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].heightDifferences[$i].dist",
																"")#showElementErrors()</div>
														</div>
													</div>
												</div>
												#end
											</div>
											<div class="covMatWrap">
												#if ($cluster.covMat)
												<div class="covMat window">
													<span class="icon-close" role="button"></span>
													#springFormHiddenInput("input.clusters[$h].covMat.id" "")
													<div class="title_bar">
														<label class="required">#springMessage("adjustment.onepage.covMat")</label>
													</div>
													<div class="window_content">
														<div class="small_form_element">
															<label class="required" for="clusters[$h].covMat.dim">#springMessage("covMat.dim"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].covMat.dim",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required" for="clusters[$h].covMat.band">#springMessage("covMat.band"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].covMat.band",
																"")#showElementErrors()</div>
														</div>
														<div class="covmat_values">
															#springFormTextarea("input.clusters[$h].covMat.values",
															"") #showElementErrors()</div>
													</div>
												</div>
												#end
											</div>
										</div>
									</div>

									<!-- VECTORS  -->
									#elseif ($cluster.getVectors().size() != 0)
									<div class="vectorsWrap window">
										<span class="icon-close" role="button"></span>
										#springFormHiddenInput("input.clusters[$h].tagname" "")
										<div class="title_bar">
											<label class="required">#springMessage("adjustment.onepage.vectors")</label>
										</div>
										<div class="window_content">
											<div class="vectors">
												#foreach ($vector in $cluster.vectors) #set( $i =
												"${foreach.index}" )
												<div class="vector window">
													<span class="icon-close" role="button"></span>
													#springFormHiddenInput("input.clusters[$h].vectors[$i].id"
													"")
													<div class="title_bar">
														<label class="required">#springMessage("adjustment.onepage.vector")</label>
													</div>
													<div class="window_content">
														<div class="small_form_element">
															<label class="required"
																for="clusters[$h].vectors[$i].from">#springMessage("vector.from"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].vectors[$i].from",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required" for="clusters[$h].vectors[$i].to">#springMessage("vector.to"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].vectors[$i].to",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required" for="clusters[$h].vectors[$i].dx">#springMessage("vector.dx"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].vectors[$i].dx",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required" for="clusters[$h].vectors[$i].dy">#springMessage("vector.dy"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].vectors[$i].dy",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required" for="clusters[$h].vectors[$i].dz">#springMessage("vector.dz"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].vectors[$i].dz",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label for="clusters[$h].vectors[$i].fromDh">#springMessage("vector.fromDh"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].vectors[$i].fromDh",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label for="clusters[$h].vectors[$i].toDh">#springMessage("vector.toDh"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].vectors[$i].toDh",
																"")#showElementErrors()</div>
														</div>
													</div>
												</div>
												#end
											</div>
											<div class="covMatWrap">
												#if ($cluster.covMat)
												<div class="covMat window">
													<span class="icon-close" role="button"></span>
													#springFormHiddenInput("input.clusters[$h].covMat.id" "")
													<div class="title_bar">
														<label class="required">#springMessage("adjustment.onepage.covMat")</label>
													</div>
													<div class="window_content">
														<div class="small_form_element">
															<label class="required" for="clusters[$h].covMat.dim">#springMessage("covMat.dim"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].covMat.dim",
																"")#showElementErrors()</div>
														</div>
														<div class="small_form_element">
															<label class="required" for="clusters[$h].covMat.band">#springMessage("covMat.band"):</label>
															<div class="input">
																#springFormInput("input.clusters[$h].covMat.band",
																"")#showElementErrors()</div>
														</div>
														<div class="covmat_values">
															#springFormTextarea("input.clusters[$h].covMat.values",
															"") #showElementErrors()</div>
													</div>
												</div>
												#end
											</div>
										</div>
									</div>
									#{else}
									<p>
										<b>HOUSTON, WE HAVE A PROBLEM!</b>
									</p>
									#end #end
								</div>
							</fieldset>
						</div>
						<div class="form_buttons">
							<input class="submit_btn" type="submit" value="#springMessage("adjustment.onepage.submit")">
							<input type="reset" value="Reset">
						</div>
					</form>
				</div>
				<div id="hints"></div>
			</div>
		</div>
	</div>
	#parse("footer.vm") #parse("toolbar.vm")
	<script>
		
	</script>
</body>
</html>