<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>User List</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="breadcrumbs">
			<a href="#springUrl("/")">WebGama</a> > <a href="#springUrl("/admin")">#springMessage("admin.section")</a> > <a href="#springUrl("/admin")"><span class="active">#springMessage("admin.user.list")</span></a>
		</div>

		<div class="left_menu">
			<ul>
				<li><a href="#springUrl("/admin")">#springMessage("admin.user.list")</a></li>
			</ul>
		</div>

		<div id="container">

			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Username</th>
						<th>Enabled</th>
						<th>E-mail</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Telephone</th>
						<th>Street</th>
						<th>Number</th>
						<th>City</th>
						<th>Zip Code</th>
						<th>State</th>
					</tr>
				</thead>
				<tbody>
					#foreach ($user in $userList)
					<tr>
						<td>$!user.id</td>
						<td>$!user.username</td>
						<td>$!user.enabled</td>
						<td>$!user.email</td>
						<td>$!user.firstName</td>
						<td>$!user.lastName</td>
						<td>$!user.telephone</td>
						<td>$!user.street</td>
						<td>$!user.number</td>
						<td>$!user.city</td>
						<td>$!user.zipCode</td>
						<td>$!user.state</td>
					</tr>
					#end
				</tbody>
			</table>
		</div>
		#parse("footer.vm")
	</div>
</body>
</html>