<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>#springMessage("user.general.settings")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")

		<div id="breadcrumbs">
			<a href="#springUrl("/")">WebGama</a> > <a href="#springUrl("/user/info")">#springMessage("user.settings")</a> > <a href="#springUrl("/user/info")"><span class="active">#springMessage("user.general.settings")</span></a>
		</div>

		<div class="left_menu">
			<ul>
				<li><a href="#springUrl("/user/info")">#springMessage("user.general.settings")</a></li>
				<li><a href="#springUrl("/user/password/change")">#springMessage("change.password")</a></li>
				<li><a href="#springUrl("/user/logins/show")">#springMessage("logins.list")</a></li>
				<li><a href="#springUrl("/user/delete")">#springMessage("delete.account")</a></li>
			</ul>
		</div>

		<div id="container">

			<h2>#springMessage("user.general.settings")</h2>
			<br>
			<form action="" method="post">
				<fieldset>
					<legend>#springMessage("user.general.settings")</legend>
					<table>
						<tr>
							<td>Username:</td>
							<td>$user.username</td>
							<td><input type="hidden" name="username" value="$user.username"></td>
						</tr>
						<tr>
							<td><label for="email">E-mail:</label></td>
							<td>#springBind("user") #springFormInput("user.email", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>

						<tr>
							<td><label for="firstName">#springMessage("user.firstname")</label></td>
							<td>#springBind("user") #springFormInput("user.firstName", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="lastName">#springMessage("user.lastname")</label></td>
							<td>#springBind("user") #springFormInput("user.lastName", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="telephone">#springMessage("user.telephone"):</label></td> <
							<td>#springFormInput("user.telephone", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="street">#springMessage("user.street"):</label></td>
							<td>#springFormInput("user.street", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="number">#springMessage("user.number"):</label></td>
							<td>#springFormInput("user.number", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="city">#springMessage("user.city"):</label></td>
							<td>#springFormInput("user.city", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="zipCode">#springMessage("user.zipcode"):</label></td>
							<td>#springFormInput("user.zipCode", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="state">#springMessage("user.state"):</label></td>
							<td>#springFormInput("user.state", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td>#springMessage("user.created"):</td>
							<td>$user.created</td>
						</tr>
						<tr>
							<td>#springMessage("user.modified"):</td>
							<td>$user.modified</td>
						</tr>
						<tr>
							<td><input type="submit" value="#springMessage("submit")"><input type="reset" value="Reset"></td>
						</tr>
					</table>
				</fieldset>
			</form>
		</div>
		#parse("footer.vm")
	</div>
</body>
</html>