<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>Registration</title>
</head>
<body>
	<div id="dialog_wrapper">
		<div class="logo">
			<a href="#springUrl("/")"><img border="0" src="#springUrl("/resources/img/webgama_logo.png")" alt="Title" title="WebGama" /></a>
		</div>
		<div class="caption">
			<h2>Registration</h2>
		</div>
		<div id="dialog_container">
			<form action="" method="post" autocomplete="off">
				<div class="form">
				<fieldset>
					<legend>User Information</legend>
					<table>
						<tr>
							<td><label for="username">* #springMessage("user.username"):</label></td>
							<td>#springFormInput("user.username", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="password">* #springMessage("user.password"):</label></td>
							<td>#springFormPasswordInput("user.password", 'autocomplete="off"')</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="confirmPassword">* #springMessage("user.password.confirm"):</label></td>
							<td>#springFormPasswordInput("user.confirmPassword", 'autocomplete="off"')</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="email">* E-mail:</label></td>
							<td>#springFormInput("user.email", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="firstName">#springMessage("user.firstname"):</label></td>
							<td>#springFormInput("user.firstName", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="lastName">#springMessage("user.lastname"):</label></td>
							<td>#springFormInput("user.lastName", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="telephone">#springMessage("user.telephone"):</label></td>
							<td>#springFormInput("user.telephone", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
					</table>
				</fieldset>
				<fieldset>
					<legend>Address</legend>
					<table>
						<tr>
							<td><label for="street">#springMessage("user.street"):</label></td>
							<td>#springFormInput("user.street", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="number">#springMessage("user.number"):</label></td>
							<td>#springFormInput("user.number", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="city">#springMessage("user.city"):</label></td>
							<td>#springFormInput("user.city", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="zipCode">#springMessage("user.zipcode"):</label></td>
							<td>#springFormInput("user.zipCode", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
						<tr>
							<td><label for="state">#springMessage("user.state"):</label></td>
							<td>#springFormInput("user.state", "")</td>
							<td>#springShowErrors("&nbsp", "form_errors")</td>
						</tr>
					</table>
				</fieldset>
				</div>
				<div class="register_button">
					<input type="submit" value="#springMessage("submit")">
				</div>
			</form>
		</div>
		<div id="login_footer">powered by Spring Security</div>
	</div>
</body>
</html>