<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>#springMessage("registration")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div id="signup_container">
				<div class="panel_header">
					<h2>#springMessage("registration")</h2>
				</div>
				<div id="dialog_container">
					<p>#springMessage("registration.success.message1")</p>
					<br>
					<p>#springMessage("registration.success.message2")</p>
				</div>

			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>