<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("unsec_include.vm")
<title>Registration</title>
</head>
<body>
	<div id="wrapper">
		#parse("unsec_header.vm")
		<div id="container">
			<div id="signup_container">
				<div class="panel_header">
					<h2>Registration</h2>
				</div>
				<div id="dialog_container">
					<p>Registration was successful but your account is not enabled
						so far.</p>
					<p>Please confirm your email address by clicking on link we
						sent to you to enable your account</p>
					<a href="#springUrl("/")">[back to index]</a>
				</div>
				
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>