<div id="header">
	<div id="header_inner_wrapper">
		<div id="logo">
			<a href="#springUrl("/")">WebGama</a>
		</div>
		<div id="header_menu">
			<!-- <div id="language_wrapper">

				<a href="?locale=cs_CZ">cs_CZ</a> &nbsp; <a href="?locale=en_GB">en_GB</a>
				&nbsp; <a href="?locale=en_US">en_US</a> &nbsp; &nbsp;

			</div> -->
			<div id="account_header_wrapper">
				<div id="account">
					<a class=active_link href="#">$authentication.username <i class="caret"></i></a>
					<div id="account_dropdown">
						<a href="#springUrl("/account")">#springMessage("user.settings")</a> 
						#if ($authentication.adminRights) <a href="#springUrl("/admin")">Admin Section</a>#end
						<a href="#springUrl("/logout")">#springMessage("logout")</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>