<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="icon" type="image/ico" href="#springUrl("/favicon.ico")" />
<link rel="stylesheet" type="text/css" href="#springUrl("/resources/css/reset.css")" />
<link rel="stylesheet" type="text/css" href="#springUrl("/resources/css/style.css")" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
<script src="#springUrl("/resources/js/script.js")"></script>
<!-- <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/redmond/jquery-ui.css" />
-->
#macro( showElementErrors )
#if(${status.error})
<div class="form_element_errors">
<ul>
#foreach($error in $status.errorMessages)
<li>$error</li>
#end
</ul>
</div>
#end
#end

#macro(springArgMessage $code $args)
$springMacroRequestContext.getMessage($code, $args)
#end
