<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>WebGama Application</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			#parse("navigation.vm")

			<h2>#springMessage("header")</h2>

			<p>#springMessage("today.is") $date</p>

			<p>#springMessage("controller") $time ms</p>

		</div>
	</div>
	#parse("footer.vm")
</body>
</html>
