<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("application.name")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="nav_menu">
				<ul>
					<li><a class="active" href="#springUrl("/overview")">#springMessage("navbar.overview")</a></li>
					<li><a href="#springUrl("/adjustment")">#springMessage("navbar.adjustment")</a></li>
					<li><a href="#springUrl("/calculations")">#springMessage("navbar.calculations")</a></li>
					<li><a href="#springUrl("/import/xml")">#springMessage("navbar.import")</a></li>
					<li><a href="#springUrl("/export")">#springMessage("navbar.export")</a></li>
				</ul>
			</div>
			<div id="content">
				<h2>#springMessage("header")</h2>

				<p>#springMessage("today.is") $date</p>

				<p>#springMessage("controller") $time ms</p>

			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>
