<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>Login</title>
</head>
<body onload="document.f.j_username.focus();">
	<div id="login_wrapper">
		<div class="logo">
			<a href="#springUrl("/")"><img border="0" src="#springUrl("/resources/img/webgama_logo.png")" alt="Title" title="WebGama" /></a>
		</div>
		<div class="registration">
			#springMessage("login.dont.have.account") <br> <span class="highlight_link"><a href="#springUrl("/register")">#springMessage("login.sign.up")</a></span> #springMessage("login.for.free")
		</div>
		<div id="login_container">
		
			<form name="f" action="j_spring_security_check" method="post">
				<div class="text_inputs">
					<label for="username">#springMessage("user.username")</label><br> <input title="Please enter a Username" id="username" type="text" name="j_username"><br>
					<span class="lost_credentials"><a href="#springUrl("/recover/username")">#springMessage("forgot.username")</a></span> <br>
					<label for="password">#springMessage("user.password")</label> <br> <input title="Please enter a Password" id="password" type="password" name="j_password"> <br>
					<span class="lost_credentials"><a href="#springUrl("/recover/password")">#springMessage("forgot.password")</a></span> <br>
				</div>
				#if ($error)
                	<div class="form_errors">$SPRING_SECURITY_LAST_EXCEPTION.message</div>
            	#end
				<input type='checkbox' name='_spring_security_remember_me' id="_spring_security_remember_me"><label for="_spring_security_remember_me">#springMessage("keep.me.logged.in")</label><br /> <br />
				<div class="login_button">
					<input title="Please click here to sign" type="submit" value="#springMessage("login.sign.in")">
				</div>
			</form>
		</div>
		<div id="login_footer">powered by Spring Security</div>
	</div>
</body>
</html>