<div class="nav_menu">
	<ul>
		<li><a href="#springUrl("/")">Overview</a></li>
		<li><a href="#springUrl("/adjustment")">#springMessage("adjustment.navbar")</a></li>
		<li><a href="#springUrl("#")">#springMessage("calculations.navbar")</a></li>
		<li><a href="#springUrl("#")">Upload XML</a></li>
		<li><a href="#springUrl("#")">Download</a></li>
	</ul>
</div>

