<div id="side_toolbar" class="resizable draggable">
<div id="toolbar_content">
Test
</div>	
<div id="collapse_link"><i class="caret"></i></div>
</div>
<script>
#[[$(document).ready(function() {
    
    $('h3').click(function() {
        var fileIndex = $('#fileTable tr').children().length - 1;
        $('#fileTable').append(
                '<tr><td>'+
                '   <input type="file" name="files['+ fileIndex +']" />'+
                '</td></tr>');
    });
     
});



$("#collapse_link").click(function () {
	$("#toolbar_content").toggle("slow");
});

$(".draggable").draggable();]]#
</script>