<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="icon" type="image/ico" href="#springUrl("/favicon.ico")" />
<link rel="stylesheet" type="text/css" href="#springUrl("/resources/css/reset.css")" />
<link rel="stylesheet" type="text/css" href="#springUrl("/resources/css/style.css")" />