<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("unsec_include.vm")
<title>Welcome to WebGama</title>
</head>
<body onload="document.f.j_username.focus();">
	<div id="wrapper">
		#parse("unsec_header.vm")
		<div id="container">
		<h1>WELCOME PAGE</h1>
	
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>