<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>This is welcome page!</h1>
	<p>
		Please continue on <a href="#springUrl("/login")">login page</a>
	</p>
	
	<a href="#springUrl("/user")">test</a>
</body>
</html>