<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<script src="#springUrl("/resources/js/lib/slides.min.jquery.js")"></script>
<title>#springMessage("welcome.title")</title>
</head>
<body>
	<noscript>
		<div
			style="position: fixed; top: 20px; left: 50%; margin-left: -320px; z-index: 3000;">
			<div class="error">
				#springMessage("welcome.javascript.notenabled")</div>
		</div>
	</noscript>
	<div id="wrapper">
		#parse("header.vm")
		<div id="heading">
			<h1>#springMessage('welcome.heading.message2')</h1>
		</div>
		<div id="slides">
			<div class="slides_container">
				<div class="slide">
					<div class="image">
						<img alt="Test picture" width="600" height="400"
							title="#springMessage("application.name")" src="#springUrl("/resources/img/webgama-slide.png")">
					</div>
					<div class="text">
						<h1>#springMessage("welcome.slideshow.slide1.header")</h1>
						<p>#springMessage("welcome.slideshow.slide1.message")</p>
						<p>#springMessage("welcome.slideshow.slide1.message1")</p>
						<div class="more">
							<a href="#springUrl('/about/project')">#springMessage("welcome.slideshow.show.more")</a>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="image">
						<img alt="Test picture" width="600" height="400"
							title="#springMessage("application.name")" src="#springUrl("/resources/img/webgama-slide02.png")">
					</div>
					<div class="text">
						<h1>#springMessage("welcome.slideshow.slide2.header")</h1>
						<p>#springMessage("welcome.slideshow.slide2.message")</p>
						<div class="more">
							<a href="http://en.wikipedia.org/wiki/HTTP_Secure">#springMessage("welcome.slideshow.learn.more")</a>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="image">
						<img alt="Test picture" title="#springMessage("application.name")" src="#springUrl("/resources/img/webgama-slide01.png")">
					</div>
					<div class="text">
						<h1>#springMessage("welcome.slideshow.slide3.header")</h1>
						<p>#springMessage("welcome.slideshow.slide3.message")</p>
						<ul>
							<li>Text</li>
							<li>XML</li>
							<li>HTML</li>
							<li>SVG</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="prev"></div>
			<div class="next"></div>
		</div>

		<div class="register_container">
			<a id="signup_btn" href="#springUrl("/register")">#springMessage("welcome.signup.big.button")</a>
		</div>

		<div id="welcome_container">
			<div id="whats_webgama" class="wide_text">
				<h1>#springMessage("welcome.whats.webgama.header")</h1>
				<p>#springMessage("welcome.whats.webgama.message") <a href="#springUrl("/about/project")">#springMessage("welcome.whats.webgama.link")</a></p>
				<ul>
					<li>#springMessage("welcome.whats.webgama.li1")</li>
					<li>#springMessage("welcome.whats.webgama.li2")</li>
					<li>#springMessage("welcome.whats.webgama.li3")</li>
				</ul>
			</div>
			<div id="points_img" class="narrow_image">
			</div>
			<div id="browsers" class="narrow_image">
				
			</div>
			<div id="browser_support" class="wide_text">
				<h1>#springMessage("welcome.supported.browsers.header")</h1>
				<p>#springMessage("welcome.supported.browsers.message")</p>
				<ul>
					<li>Mozilla Firefox</li>
					<li>Google Chrome</li>
					<li>Internet Explorer</li>
					<li>Opera</li>
					<li>Safari</li>
				</ul>
			</div>
			<div id="work_as_team" class="wide_text">
				<h1>#springMessage("welcome.work.as.team.header")</h1>
				<p>#springMessage("welcome.work.as.team.message")</p>
			</div>
			<div id="sharing_img" class="narrow_image">
		</div>
	</div>
	<div id="heading_store" style="display: none;">
		<span class="1">#springArgMessage('welcome.heading.message1' $userCount $locale)</span>
		<span class="2">#springArgMessage('welcome.heading.message3' $pointCount $locale)</span>
	</div>
	#parse("footer.vm")
	<script>	
		jQuery(document).ready(function() {
			
			jQuery("#slides").css("display", "block");
			jQuery("#slides").slides({
				preload : true,
				preloadImage : '#springUrl("/resources/img/loading.gif")',
				play : 5000,
				pause : 2500,
				hoverPause : true
			});
			
			var items = new Array();
			items[0] = jQuery('#heading_store .1').html();
			items[1] = "#springMessage('welcome.heading.message2')";
			items[2] = jQuery('#heading_store .2').html();
			items[3] = "#springMessage('welcome.heading.message4')";
			
			setInterval(function() {
				jQuery('#heading h1').fadeOut(500, function() {
					jQuery(this).html(items[Math.floor(Math.random()*items.length)]).fadeIn(500);
				});
			},8000);
			
		});
	</script>
</body>
</html>