<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>#springMessage("change.password")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div id="account_container">
				<div class="left_menu">
					<ul>
						<li><a href="#springUrl("/account/info")">#springMessage("account.overview")</a></li>
						<li><a href="#springUrl("/account/personal")">#springMessage("user.personal.settings")</a></li>
						<span class="active_menu"><li><a href="#springUrl("/account/password/change")">#springMessage("change.password")</a></li></span>
						<li><a href="#springUrl("/account/logins/show")">#springMessage("logins.list")</a></li>
						<li><a href="#springUrl("/account/delete")">#springMessage("delete.account")</a></li>
					</ul>
				</div>
				<div class="panel">
					<div class="panel_header">
						<h2>#springMessage("change.password")</h2>
					</div>
					<form action="" method="post">
						<div class="form">
							<fieldset>
								<legend>#springMessage("change.password")</legend>
								<table>
									<tr>
										<td><label for="oldPassword">#springMessage("user.current.password"):</label></td>
										<td>#springFormPasswordInput("user.oldPassword",
											'autocomplete="off"')</td>
										<td>#springShowErrors("&nbsp", "form_errors")</td>
									</tr>
									<tr>
										<td><label for="newPassword">#springMessage("user.new.password"):</label></td>
										<td>#springFormPasswordInput("user.newPassword", "")</td>
										<td>#springShowErrors("&nbsp", "form_errors")</td>
									</tr>
									<tr>
										<td><label for="confirmNewPassword">#springMessage("user.confirm.new.password"):</label></td>
										<td>#springFormPasswordInput("user.confirmNewPassword",
											"")</td>
										<td>#springShowErrors("&nbsp", "form_errors")</td>
									</tr>
								</table>
							</fieldset>
						</div>
						<br> <input class="submit_btn" type="submit" value="#springMessage("change.password.button")">
						<input type="reset" value="Reset">
					</form>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>