<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>#springMessage("confirm.email.success.header")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div id="signup_container">
				<div class="panel_header">
					<h2>#springMessage("confirm.email.success.header")</h2>
				</div>
				<div id="dialog_container">
					<p>#springMessage("confirm.email.success.message1").
						#springMessage("confirm.email.success.message2"):</p>
					<br> <a class="button" href="#springUrl('/signin')">#springMessage("confirm.email.success.message2.link")</a>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>