<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("unsec_include.vm")
<title>Registration</title>
</head>
<body>
	<div id="wrapper">
		#parse("unsec_header.vm")
		<div id="container">
			<div id="account_container">
				<div class="caption">
					<h2>Email Confirmation</h2>
				</div>
				<div id="dialog_container">
					<h3>Email Confirmation</h3>
					<p>Your email address was successfully confirmed</p>

					<p>
						Now you can log in at <a style="text-decoration: underline;"
							href="#springUrl("/login")">login page</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>