<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>Registration</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div id="signup_container">
				<div class="panel_header">
					<h2>Email Confirmation</h2>
				</div>
				<div id="dialog_container">
					<p>Your email address was successfully confirmed</p>
					<p>Now you can log in at <a href="#springUrl("/login")">login page</a></p>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>