<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("unsec_include.vm")
<title>Registration</title>
</head>
<body>
	<div id="wrapper">
		#parse("unsec_header.vm")
		<div id="container">
			<div id="signup_container">
				<div class="panel_header">
					<h2>Reset Password</h2>
				</div>
				<div id="dialog_container">
					<h3>Reset Password</h3>
					<p>An email has been sent to your email address. Please follow
						the instructions in the email.</p>
					<a href="#springUrl("/")">[back to index]</a>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>