<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>#springMessage("recover.password.header")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div id="signup_container">
				<div class="panel_header">
					<h2>#springMessage("recover.password.header")</h2>
				</div>
				<div id="dialog_container">
					<p>#springMessage("recover.password.message")</p>
					<br>
					<form action="" method="post">
						<div class="large_form_element">
							<label for="username">#springMessage("user.username"):</label>
							<div class="input">#springFormInput("user.username", "")
								#showElementErrors()</div>
						</div>
						<div class="form_buttons">
							<input type="submit" class="submit_btn" value="#springMessage("recover.password.submit")">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>