<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>Recover Password</title>
</head>
<body>
	<div id="dialog_wrapper">
		<div class="logo">
			<a href="#springUrl("/")"><img border="0" src="#springUrl("/resources/img/webgama_logo.png")" alt="Title" title="WebGama" /></a>
		</div>
		<div class="caption">
			<h2>Reset Password</h2>
		</div>
		<div id="dialog_container">
			<h3>Reset Password</h3>
			<p>Please enter the Username you registered with. New generated password will be sent via email shortly.</p>

			<form action="" method="post">
				<label for="username">Username:</label> #springFormInput("user.username", "") #springShowErrors("&nbsp", "form_errors") <br>
				<br>
				<input type="submit" value="Reset">
			</form>
		</div>
		<div id="login_footer">powered by Spring Security</div>
	</div>
</body>
</html>