<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>Recover Password</title>
</head>
<body>
	<div id="login_wrapper">
		<div class="logo">
			<a href="#springUrl("/")"><img border="0" src="#springUrl("/resources/img/webgama_logo.png")" alt="Title" title="WebGama" /></a>
		</div>
		<div id="login_container"></div>
		<div id="login_footer">powered by Spring Security</div>
	</div>
</body>
</html>