<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>Registration</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div id="signup_container">
				<div class="panel_header">
					<h2>Find Username</h2>
				</div>
				<div id="dialog_container">
					<p>An email has been successfully sent. Please follow the
						instructions in the email.</p>
					<a href="#springUrl("/")">[back to index]</a>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>