<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>Registration</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div id="signup_container">
				<div class="panel_header">
					<h2>Find Username</h2>
				</div>
				<div id="dialog_container">
					<h3>Find Username</h3>
					<p>Please enter the email address you registered with. Your
						username will be sent to this email address shortly.</p>

					<form action="" method="post">
						<label for="email">Email:</label> #springFormInput("user.email",
						"") #springShowErrors("&nbsp", "form_errors") <br> <br>
						<input type="submit" value="Find">
					</form>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>