<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>Recover Username Successful</title>
</head>
<body>
	<div id="dialog_wrapper">
		<div class="logo">
			<a href="#springUrl("/")"><img border="0" src="#springUrl("/resources/img/webgama_logo.png")" alt="Title" title="WebGama" /></a>
		</div>
		<div class="caption">
			<h2>Find Username</h2>
		</div>
		<div id="dialog_container">
			<h3>Find username</h3>
			<p>An email has been successfully sent. Please follow the instructions in the email.</p>
			<a href="#springUrl("/")">[back to index]</a>

		</div>
		<div id="login_footer">powered by Spring Security</div>
	</div>
</body>
</html>