<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("include.vm")
<title>#springMessage("recover.username.header")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div id="signup_container">
				<div class="panel_header">
					<h2>#springMessage("recover.username.header")</h2>
				</div>
				<div id="dialog_container">
					<p>#springMessage("recover.username.success.message")</p>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>