<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("navbar.export") - #springMessage("application.name")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="nav_menu">
				<ul>
					<li><a href="#springUrl("/overview")">#springMessage("navbar.overview")</a></li>
					<li><a href="#springUrl("/adjustment")">#springMessage("navbar.adjustment")</a></li>
					<li><a href="#springUrl("/calculations")">#springMessage("navbar.calculations")</a></li>
					<li><a href="#springUrl("/import/xml")">#springMessage("navbar.import")</a></li>
					<li><a class="active" href="#springUrl("/export")">#springMessage("navbar.export")</a></li>
				</ul>
			</div>
			<div id="content">
				<div class="panel_header">
					<h2>#springMessage("navbar.export")</h2>
					<h3>$calculation.name</h3>
				</div>
				<div id="export_wrap">
					<div id="parameters" class="export_box">
						<div class="title">#springMessage("export.parameters.title")</div>
						<table>
							<tbody>
								<tr>
									<td>#springMessage("export.name"):</td>
									<td>$calculation.name</td>
								</tr>
								<tr>
									<td>#springMessage("export.owner"):</td>
									<td>$calculation.user.username</td>
								</tr>
								<tr>
									<td>#springMessage("export.language"):</td>
									<td>#springMessage("$calculation.language")</td>
								</tr>
								<tr>
									<td>#springMessage("export.algorithm"):</td>
									<td>$calculation.algorithm</td>
								</tr>
								<tr>
									<td>#springMessage("export.angUnits"):</td>
									<td>$calculation.angUnits</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div id="text_preview" class="export_box">
						<div class="title">#springMessage("export.text.preview.title")</div>
						<div id="text_preview_content">
							<div class="preview">
								<iframe src="#springUrl("/export/${calculation.id}/html-preview")" width="100%" height="350px" frameborder="0"></iframe>
							</div>
							<div class="svg">
								<div class="small_panel_header">#springMessage("export.text.preview.svg.header")</div>
								<div class="svg_content">
									<a class="link_button" href="#springUrl("/export/${calculation.id}/svg-preview")" target="_target">#springMessage("export.text.preview.svg.show")</a>
								</div>
							</div>
						</div>
					</div>
					<div id="download" class="export_box">
						<div id="export_options">
							<div class="title">
								<div>#springMessage("export.download.title")</div>
							</div>
							<p>#springMessage("export.download.message"):</p>
							<ul class="export_choose">
								<li><a class="xml" href="#springUrl("/export/${calculation.id}/xml")">XML</a></li>
								<li><a class="text" href="#springUrl("/export/${calculation.id}/text")">TEXT</a></li>
								<li><a class="html" href="#springUrl("/export/${calculation.id}/html")">HTML</a></li>
								<li><a class="svg" href="#springUrl("/export/${calculation.id}/svg")">SVG</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
	<script>
		
	</script>
</body>
</html>