<!DOCTYPE html>
<html>
<head>
#parse("include.vm")
<title>#springMessage("navbar.export") -
	#springMessage("application.name")</title>
</head>
<body>
	<div id="wrapper">
		#parse("header.vm")
		<div id="container">
			<div class="nav_menu">
				<ul>
					<li><a href="#springUrl("/overview")">#springMessage("navbar.overview")</a></li>
					<li><a href="#springUrl("/adjustment")">#springMessage("navbar.adjustment")</a></li>
					<li><a href="#springUrl("/calculations")">#springMessage("navbar.calculations")</a></li>
					<li><a href="#springUrl("/import/xml")">#springMessage("navbar.import")</a></li>
					<li><a class="active" href="#springUrl("/export")">#springMessage("navbar.export")</a></li>
				</ul>
			</div>
			<div id="content">
				<div class="panel_header">
					<h2>#springMessage("navbar.export")</h2>
				</div>
				<div id="export_wrap">
					<table id="export">
						<thead>
							<tr>
								<th>#springMessage('export.owner')</th>
								<th>#springMessage('export.progress')</th>
								<th>#springMessage('export.name')</th>
								<th>#springMessage('export.language')</th>
								<th>#springMessage('export.algorithm')</th>
								<th>#springMessage('export.time')</th>
							</tr>
						</thead>
						<tbody>
							#foreach ($calculation in $calculations)
							<tr>
								<td><a #if ($calculation.progress == "calculated") href="#springUrl("/export/${calculation.id}")" class="clickable" #end>$calculation.user.username</a></td>
								<td><a #if ($calculation.progress == "calculated") href="#springUrl("/export/${calculation.id}")" class="clickable" #end><span class="$calculation.progress">#springMessage("$calculation.progress")</span></a></td>
								<td><a #if ($calculation.progress == "calculated") href="#springUrl("/export/${calculation.id}")" class="clickable" #end>$calculation.name</a></td>
								<td><a #if ($calculation.progress == "calculated") href="#springUrl("/export/${calculation.id}")" class="clickable" #end>#springMessage("$calculation.language")</a></td>
								<td><a #if ($calculation.progress == "calculated") href="#springUrl("/export/${calculation.id}")" class="clickable" #end>$calculation.algorithm</a></td>
								<td><a #if ($calculation.progress == "calculated") href="#springUrl("/export/${calculation.id}")" class="clickable" #end>$dateTool.format("yyyy-MM-dd HH:mm:ss",$calculation.time.toDate())</a></td>
							</tr>
							#end
						</tbody>
					</table>
					#if ($calculations.isEmpty())
						<p class="not_added">
							#springMessage("calculations.my.calculations.notadded")
						</p>
						#end
					<br>
					<div class="info" style="width: 200px;">
						#springMessage('export.tip')
					</div>

				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>
